@charset "UTF-8";



.area_common01 {
    display: flex;
    flex-direction: column;
}

.common_content01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.common_content01 > li {
    width: 100%;
    display: block;
}



.a_group01 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.a_group01 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 12px 12px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    background-color: #fff;
}
.a_group01 > .area_tit01 > .left_box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 4px;
}
.a_group01 > .area_tit01 > .left_box .txt01 {
    width: max-content;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
    color: #4B5058;
    flex-shrink: 0;
    word-break: break-all;
}
.a_group01 > .area_tit01 > .left_box .txt02 {
    width: 100%;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    color: #FF5930;
    word-break: break-all;
}
.a_group01 > .area_tit01 > .right_box {
    width: 100%;
    display: flex;
}
.a_group01 > .area_tit01:has(.inp_comm:focus) {
    border: 1px solid #8597A880;
}

.a_group01.disabled > .area_tit01 {
    background-color: #E6E6E680;
}
.a_group01.disabled .right_box02 .com_inp01 > .inp_comm {
    width: 100%;
    color: #070F1680;
}
.a_group01.disabled .com_inp01 .ico_arr {
    background-image: url('../img/ico_arr_d_bottom.svg');
}

.a_group01.error > .reply {display: flex;}
.a_group01.error > .area_tit01 {border: 1px solid #EE444A;}
.a_group01.sucess > .reply {
    display: flex;
    padding: 0 20px;
    color: #2C333B;
}
.a_group01.sucess > .reply::before {
    content: none;
}


.com_inp01 {
    width: 100%;
    display: block;
    position: relative;
}
.com_inp01>.inp_comm {
    width: 100%;
    max-width: 256px;
    height: 22px;
    display: block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2C333B;
}
.com_inp01 .ico_arr {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('../img/ico_arr_bottom04.svg') no-repeat center / 100%;
    cursor: pointer;
}
/* .com_inp01:has(.inp_pw:focus) .ico_arr {
    background-image: url('../img/ico_arr_bottom04.svg');
} */
.com_inp01 > input::placeholder {
    width: max-content;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #B5B7BA;
    flex-shrink: 0;
}
.com_inp01 > input,
.com_inp01 > input:focus {
    border: 1px solid transparent;
}


.com_inp02 {
    width: 100%;
    display: block;
    position: relative;
}
.com_inp02 > .inp_comm {
    width: 100%;
    max-width: 256px;
    height: 22px;
    display: block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2C333B;
}
.com_inp02 .ico_arr {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('../img/ico_search.svg') no-repeat center / 100%;
    cursor: pointer;
}
.com_inp02 > input::placeholder {
    width: max-content;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #B5B7BA;
    flex-shrink: 0;
}
.com_inp02 > input,
.com_inp02 > input:focus {
    border: 1px solid transparent;
}

.com_inp03 {
    width: 100%;
    display: block;
    position: relative;
}
.com_inp03 > .inp_comm {
    width: 100%;
    height: 22px;
    display: block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2C333B;
    padding-right: 10px;
}
.com_inp03 > input::placeholder {
    width: max-content;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #B5B7BA;
    flex-shrink: 0;
}
.com_inp03 > input,
.com_inp03 > input:focus {
    border: 1px solid transparent;
}


.btn_group_center {
    width: 100%;
    display: flex;
    flex:1;
    gap: 8px;
    padding: 20px 0;
}

.board_box01 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.board_box01 > li {
    width: 100%;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #E6EAED;
}
.board_box01 > li:last-child {
    border-bottom: 0;
}


.board_box02 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.board_box02 > li {
    width: 100%;
    display: block;
}
.board_box02 > li + li {
    padding: 12px 0;
}

.board_box02 > li:last-child {
    border-bottom: 0;
}





.acq_item01 {
    width: 100%;
    display: block;
    position: relative;

    font-size: 13rem;
    font-weight: 500;
    line-height: 1.2;
    color: #4B5058;
    padding-left: 16px;
}
.acq_item01::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0584FA;
}
.acq_item02 {
    width: 100%;
    display: block;
    position: relative;

    font-size: 13rem;
    font-weight: 500;
    line-height: 1.2;
    color: #4B5058;
    padding-left: 16px;
}
.acq_item02::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #EB932E;
}
.acq_item03 {
    width: 100%;
    display: block;
    position: relative;

    font-size: 13rem;
    font-weight: 500;
    line-height: 1.2;
    color: #4B5058;
    padding-left: 16px;
}
.acq_item03::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #8A8C93;
}
.acq_item04 {
    width: 100%;
    display: block;
    position: relative;

    font-size: 13rem;
    font-weight: 500;
    line-height: 1.2;
    color: #4B5058;
    padding-left: 16px;
}
.acq_item04::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: url('../img/Ico_dott.svg') no-repeat center/100%;
}

.acquisition_tit {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 20px;
    background-color: #E6E6E680;
    border-radius: 10px;
    gap: 6px 16px;
}
.acquisition_tit > .acq_item01,
.acquisition_tit > .acq_item02,
.acquisition_tit > .acq_item03,
.acquisition_tit > .acq_item04 {
    width: calc( 50% - 12px) ;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    padding-left: 16px;
} 



.area_acquisition {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.area_acquisition > .left_box {
    width: 100%;
    display: block;
}
.area_acquisition > .right_box {
    width: 100%;
    display: flex;
    align-items: center;
}
.area_acquisition > .right_box .txt01 {
    width: 100%;
    max-width: 240px;
    display: block;

    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    color: #070F16;
    word-break: break-all;
}
.area_acquisition > .right_box .ico {
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/ico_arr_left05.svg') no-repeat center/100%;
    margin-left: auto;
}


.area_acquisition01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 8px;
}
.area_acquisition01 > .left_box {
    width: 100%;
    display: flex;
    align-items: center;
    
}
.area_acquisition01 > .left_box .txt01 {
    width: 100%;
    max-width: 240px;
    display: block;

    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    color: #070F16;
    word-break: break-all;
}
.area_acquisition01 > .left_box .ico {
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/ico_arr_left05.svg') no-repeat center/100%;
    margin-left: auto;
}
.area_acquisition01 > .right_box {
    width: 100%;
    display: block;
}
.area_acquisition01 > .right_box .txt02 {
    width: 100%;
    max-width: 90%;
    display: inline-block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
    word-break: break-all;
}




.result_tit01 {
    width: 100%;
    display: flex;
    align-items: center;

    padding: 16px 20px;
    background-color: #E6E6E680;
    border-radius: 10px;
}
.result_tit01 > .txt01 {
    width: max-content;
    display: inline-block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    word-break: break-all;
}
.result_tit01 > .line {
    width: 1px;
    height: 16px;
    display: block;
    background-color: #8597A880;
    margin: 0 12px;
}
.result_tit01 > .txt02 {
    width: 100%;
    display: inline-block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    word-break: break-all;
}



.result_tit02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    background-color: #E6E6E680;
    border-radius: 10px;
    gap: 6px;
}
.result_tit02 > .txt01 {
    width: max-content;
    display: inline-block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2C333B;
    word-break: break-all;
}
.result_tit02 > .txt01 .txt02 {
    width: max-content;
    display: inline-block;

    font-size: 15rem;
    font-weight: 600;
    line-height: 1.3;
    color: #2C333B;
    word-break: break-all;
}


.result_contnet01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 8px;
}
.result_contnet01 > .txt01 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2C333B;
    word-break: break-all;
}
.result_contnet01 > .info {
    width: 100%;
    display: flex;
    gap: 6px;
}
.result_contnet01 > .info > li {
    width: max-content;
    display: block;
}
.result_contnet01 > .info .txt02 {
    width: max-content;
    max-width: 100px;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    word-break: break-all;
}
.result_contnet01 > .info .txt03 {
    width: max-content;
    max-width: 50px;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    
    word-break: break-all;
}
.result_contnet01 > .info .txt04 {
    width: max-content;
    max-width: 130px;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    
    word-break: break-all;
}
.result_contnet01 > .info .line {
    width: 1px;
    height :16px;
    display: block;
    background-color: #8597A880;
}


.result_contnet02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 8px;
    position: relative;
}
.result_contnet02::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('../img/ico_arr_left05.svg') no-repeat center/100%;
    width: 24px;
    height: 24px;
}
.result_contnet02 > .txt01 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2C333B;
    word-break: break-all;
}
.result_contnet02 > .info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
}
.result_contnet02 > .info > li {
    width: max-content;
    display: block;
}
.result_contnet02 > .info .txt02 {
    width: max-content;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    word-break: break-all;
}
.result_contnet02 > .info .txt03 {
    width: max-content;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    
    word-break: break-all;
}
.result_contnet02 > .info .txt04 {
    width: max-content;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #1F5EFF;
    
    word-break: break-all;
}
.result_contnet02 > .info .line {
    width: 1px;
    height :8px;
    display: block;
    background-color: #8597A880;
}



.pick_search01 {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 8px;

    padding-bottom: 12px;
    border-bottom: 1px solid #73757E;
}

.pick_search01 .inp_srch {
    width: 100%;
    height: 48px;
    display: block;

    border: 1px solid #8597A880;
    border-radius: 8px;
    padding: 13px 20px 13px 22px;
}
.pick_search01 input.inp_srch {
    width: 100%;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
}
.pick_search01 .btn_secondary {
    max-width: 90px;
}


.pick_search02 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.pick_search02 .inp_srch {
    width: 100%;
    height: 48px;
    display: block;

    border: 1px solid #8597A880;
    border-radius: 8px;
    padding: 13px 20px 13px 22px;
}
.pick_search02 input.inp_srch {
    width: 100%;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
}
.pick_search02 .btn_secondary {
    max-width: 90px;
}


.pick_search03 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.pick_search03 .inp_srch {
    width: 100%;
    height: 48px;
    display: block;

    border: 1px solid #8597A880;
    border-radius: 8px;
    padding: 13px 20px 13px 22px;
}
.pick_search03 input.inp_srch {
    width: 100%;
}



.area_table01 {
    width: 100%;
    display: block;
    padding: 16px 20px;
    background-color: #EDF5FF;
    border-radius: 10px;
}
.area_table02 {
    width: 100%;
    display: block;
    padding: 16px 20px;
    background-color: #F5F8FA80;
    border-radius: 10px;
}
.area_table04 {
    width: 100%;
    display: block;
    overflow-x: auto;
}


input.inp01 {
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;

    border: 1px solid #8597A880;
    border-radius: 8px;

    font-size: 16rem;
    font-weight: 500;
    line-height: 1.2;
    color: #2C333B;
}


.box_table01 {
    width: 100%;
}
.box_table01 tr {
    width: 100%;
}
.box_table01 tr + tr td {
    padding-top: 10px;
}
.box_table01 tr td > .txt01 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    word-break: break-all;
}
.box_table01 tr td > .txt02 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
    word-break: break-all;
}
.box_table01 tr td > .txt03 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 700;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
    word-break: break-all;
}


.box_table02 {
    width: 100%;
}
.box_table02 tr {
    width: 100%;
}
.box_table02 tr + tr td {
    padding-top: 10px;
    vertical-align: top;
}
.box_table02 tr td > .txt01 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    word-break: break-all;
}
.box_table02 tr td > .txt02 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
    word-break: break-all;
}
.box_table02 > tbody tr td > .txt03 {
    width: 100%;
    display:inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
    text-align: right;
    word-break: break-all;
}
.box_table02 > tbody tr td.img01{
    width: 100%;
    display: block;
}
.box_table02 > tbody tr td.img01 > img {
    width: 188px;
    height: auto;
    display: block;
    margin-left: auto;
}
.box_table02 > tbody tr td.img01 > img + img {
    padding-top: 5px;
}




.box_table03 {
    width: 100%;
}
.box_table03 tr {
    width: 100%;
}
.box_table03 tr td {
    padding-top: 12px;
    border-bottom: 1px solid #E6E6E680;
    padding-bottom: 8px;
}
.box_table03 tr td > .txt01 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    word-break: break-all;
}
.box_table03 tr td > .txt02 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
    word-break: break-all;
}



.box_table04 {
    width: 100%;
    min-height: 92px;
    table-layout: fixed;
}
.box_table04 > thead {
    width: 100%;
}
.box_table04 > thead tr {
    border-top: 2px solid #73757E;
    border-bottom: 1px solid #8597A880;
}
.box_table04 > thead tr th {
    width: 100%;
    background-color: #E6E6E680;
}
.box_table04 > thead tr th .txt01 {
    width: 100%;
    display: block;
    padding: 11px 24px;

    font-size: 15rem;
    font-weight: 500;
    line-height: 1.4;
    color: #2C333B;
    word-break: break-all;
}

.box_table04 > tbody  tr {
    width: 100%;
}
.box_table04 > tbody tr td {
    border-bottom: 1px solid #E6E6E680;
    padding-bottom: 8px;
    padding: 11px 24px;
    text-align: center;
    vertical-align: middle;
}
.box_table04 > tbody tr td > .txt02 {
    width: 100%;
    display: inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    text-align: left;
    word-break: break-all;
}
.box_table04 > tbody tr td > .txt03 {
    width: 100%;
    display: inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    word-break: break-all;
}



.box_table05 {
    width: 100%;
    min-height: 92px;
    table-layout: fixed;
}
.box_table05 > thead {
    width: 100%;
}
.box_table05 > thead tr {
    border-top: 2px solid #73757E;
    border-bottom: 1px solid #8597A880;
}
.box_table05 > thead tr th {
    width: 100%;
    vertical-align: middle;
    background-color: #E6E6E680;
}
.box_table05 > thead tr th .txt01 {
    width: 100%;
    display: block;
    padding: 11px 0;

    font-size: 15rem;
    font-weight: 500;
    line-height: 1.4;
    color: #2C333B;
    word-break: break-all;
}
.box_table05 > tbody  tr {
    width: 100%;
}
.box_table05 > tbody  tr.nodata {
    justify-content: center;
}

.box_table05 > tbody tr td {
    border-bottom: 1px solid #E6E6E680;
    padding-bottom: 8px;
    padding: 16px 0px 11px 11px;
    text-align: center;
    vertical-align: middle;
}
.box_table05 > tbody tr td > .txt02 {
    width: 100%;
    display: inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    text-align: left;
    word-break: break-all;
}
.box_table05 > tbody tr td > .txt03 {
    width: 100%;
    display: inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    word-break: break-all;
}
.box_table05 > tbody tr td.box_inp {
    padding: 11px 10px;
}
.nodata > td .no_data01 {
    width: initial;
}




.box_table06 {
    width: 100%;
}
.box_table06 > tbody  tr {
    width: 100%;
}
.box_table06 > tbody tr td {
    border-bottom: 1px solid #E6E6E680;
    padding-bottom: 8px;
    padding: 16px 0px 11px 11px;
    text-align: center;
    vertical-align: top;
}
.box_table06 > tbody tr td > .txt01 {
    width: 100%;
    display: inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    text-align: left;
    word-break: break-all;
}
.box_table06 > tbody tr td > .txt02 {
    width: 100%;
    display:inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
    word-break: break-all;
}
.box_table06 > tbody tr td > .txt03 {
    width: 100%;
    display:inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
    text-align: right;
    word-break: break-all;
}
.box_table06 > tbody tr td.img01{
    width: 100%;
    display: block;
}
.box_table06 > tbody tr td.img01 > img {
    width: 188px;
    height: auto;
    display: block;
    margin-left: auto;
}
.box_table06 > tbody tr td.img01 > img + img {
    padding-top: 5px;
}



.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product li {
    width: 100%;
    display: block;
}
.product li > .txt01 {
    width: 100%;
    display: block;

    text-align: right;
    font-size:  17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    word-break: break-all;
}
.product li > .txt01 a {
    width: 100%;
    display: inline;
    padding-bottom: 2px;
    border-bottom: 1px solid #070F16;
    word-break: break-all;
}


.area_pop_table01 {
    width: 100%;
    display: block;
    padding: 0 10px;
}




.area_footer_pop > .btn_tertiary {
    width: 40%;
}
.area_footer_pop > .btn_primary {
    width: 60%;
}


.caution04 {
    width: 100%;
    display: block;
    padding-right: 40px;

    font-size: 15rem;
    font-weight: 700;
    line-height: 1.4;
    color:  #2C333B;
    padding-left: 26px;
    position: relative;
}
.caution04::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    background: url('../img/ico_alert_06.svg') no-repeat center/100%;
    width: 20px;
    height: 20px;
}


.common_tit04 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
    background-color: #fff;
    border-bottom: 1px solid #8597A880;
}
.common_tit04 > .left_box01 {
    width: 100%;
    display: flex;
    align-items: center;
}
.common_tit04 > .left_box01 .txt01 {
    width: max-content;
    display: inline-block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
    word-break: break-all;
}
.common_tit04 > .left_box01 .txt02 {
    width: max-content;
    display: inline-block;
    
    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #FF5930;
    word-break: break-all;
}
.common_tit04 > .right_box01 {
    width: 100%;
    display: block;
}
.common_tit04 > .right_box01 .txt03{
    width: max-content;
    display: inline-block;
    
    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    padding-left: 6px;
    word-break: break-all;
}

.area_wealth {
    width: 100%;
    display: block;
    background-color: #F5F8FA80;
    padding: 12px 20px 20px 20px;
}




.divider03 {
    width: 100%;
    height: 8px;
    background-color: #F8F9FA;
}

.divider04 {
    width: 100%;
    height: 8px;
    background-color: #F8F9FA;
    margin: 20px 0;
}



.a_group02 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.a_group02 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 12px 12px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    background-color: #fff;
}
.a_group02 > .area_tit01 > .left_box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 4px;
}
.a_group02 > .area_tit01 > .left_box .txt01 {
    width: max-content;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
    color: #4B5058;
    flex-shrink: 0;
    word-break: break-all;
}
.a_group02 > .area_tit01 > .left_box .txt02 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    color: #FF5930;
    word-break: break-all;
}
.a_group02 > .area_tit01 > .right_box {
    width: 100%;
    display: flex;
}
.a_group02 > .area_tit01:has(.inp_comm:focus) {
    border: 1px solid #8597A880;
}

.a_group02.disabled > .area_tit01 {
    background-color: #E6E6E680;
}
.a_group02.disabled .right_box02 .com_inp01 > .inp_comm {
    width: 100%;
    color: #070F1680;
}
.a_group02.disabled .com_inp01 .ico_arr {
    background-image: url('../img/ico_arr_d_bottom.svg');
}

.a_group02.error > .reply {display: flex;}
.a_group02.error > .area_tit01 {border: 1px solid #EE444A;}
.a_group02.sucess > .reply {
    display: flex;
    padding: 0 20px;
    color: #2C333B;
}
.a_group02.sucess > .reply::before {
    content: none;
}


.com_inp04 {
    width: 100%;
    display: block;
    position: relative;
}
.com_inp04 > .inp_comm {
    width: 100%;
    height: 22px;
    display: block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2C333B;
    padding-left: 32px;
}
.com_inp04 .ico_arr {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../img/ico_calendar_01.svg') no-repeat center / 100%;
    cursor: pointer;
}
.com_inp04 > input::placeholder {
    width: max-content;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #B5B7BA;
    flex-shrink: 0;
}
.com_inp04 > input,
.com_inp04 > input:focus {
    border: 1px solid transparent;
}




.item_chek01 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14px 0;
}
.item_chek01 > .txt01 {
    width: 100%;
    display: inline-block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1;
    color: #020C15D1;
    padding-right: 20px;
    word-break: break-all;
}

.btn_group01 {
    width: 100%;
    display: block;
}


.tab_btn_wrap01 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tab_btn_wrap01 > .tab-group.radio .tab-item {
    flex: initial;
    width: 100%;
}
.tab_btn_wrap01 > .tab-group {
    gap: 8px;
}



.btn_refresh {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px; 
}
.btn_refresh > .txt01 {
    width: max-content;
    display: block;

    font-size: 15rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16D1;
    padding-right: 6px;
}
.btn_refresh::after {
    content: '';
    background: url('../img/ico_refresh.svg') no-repeat center/100%;
    width: 18px;
    height: 18px;
}


.area_check_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.area_check_list > li {
    width: 100%;
    display: block;
}

.real_auth {
    width: 100%;
    min-height: 74px;
    display: flex;
    align-items: center;

    border: 1px solid #B5B7BA;
    border-radius: 10px;
    background-color: #F9F9F9;
    padding: 16px;
    gap: 16px;
}
.real_auth > .box_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.real_auth > .box_info .txt01 {
    width: 100%;
    display: block;
    
    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #73757E;
    word-break: break-all;
}
.real_auth > .box_info .txt02 {
    width: 100%;
    display: block;
    
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
    word-break: break-all;
}
.real_auth > .badge {
    width: 100%;
    max-width: 55px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;

    background-color: #2457FF;
    border-radius: 6px;
    padding: 2px 8px;
}


.real_auth.type01 {
    background-color: #fff;
}
.real_auth.type01 > .box_info .txt01 {
    color: #070F16;
    word-break: break-all;
}
.real_auth.type01 > .box_info .txt02 {
    color: #2C333B;
    word-break: break-all;
}
.real_auth.type01 > .badge {
    background-color: #D9D9D9;
    color: #555555;
}



.area_subway {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.area_subway > li {
    width: 100%;
    display: block;
    border-bottom: 1px solid #8597A880;
    padding: 12px 0;
}
.area_subway > li:last-child {
    border-bottom: 0;
}
.box_subway01 {
    width: 100%;
    display: block;
}
.box_subway01 > .tit01 {
    width: 100%;
    display:block;
    position: relative;
}
.box_subway01 > .tit01::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('../img/ico_arr_left05.svg') no-repeat center/100%;
    width: 24px;
    height: 24px;
}

.box_subway01 > .tit01 .txt01 {
    width: 100%;
    max-width: 90%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2C333B;
    padding: 18px 0 12px 0;
    position: relative;
    word-break: break-all;
}




.group_subway01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    margin-top: 12px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #F5F8FA80;
}
.group_subway01 > li {
    width: 100%;
    display: block;
}
.group_subway01 > li > .item01 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.group_subway01 > li > .item01 .txt02 {
    width: 100%;

    max-width: 87%;
    display: inline-block;

    font-size: 15rem;
    font-weight: 600;
    line-height: 1.4;
    color: #2C333B;
    word-break: break-all;

    position: relative;
    padding-left: 24px;
}
.group_subway01 > li > .item01 .txt02::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.group_subway01 > li > .item01 .txt02.line01::before {
    background-image: url("../img/ico_line01.svg");
}
.group_subway01 > li > .item01 .txt02.line02::before {
    background-image: url("../img/ico_line02.svg");
}
.group_subway01 > li > .item01 .txt02.line03::before {
    background-image: url("../img/ico_line03.svg");
}
.group_subway01 > li > .item01 .txt02.line04::before {
    background-image: url("../img/ico_line04.svg");
}
.group_subway01 > li > .item01 .txt02.line05::before {
    background-image: url("../img/ico_line05.svg");
}
.group_subway01 > li > .item01 .txt02.line06::before {
    background-image: url("../img/ico_line06.svg");
}
.group_subway01 > li > .item01 .txt02.line07::before {
    background-image: url("../img/ico_line07.svg");
}
.group_subway01 > li > .item01 .txt02.line08::before {
    background-image: url("../img/ico_line08.svg");
}

.group_subway01 > li > .item01 .txt03 {
    width: 100%;
    max-width: 87%;
    display: inline-block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
    text-align: right;
    word-break: break-all;
}














@media (min-width: 749px) {

    .area_acquisition > .right_box .txt01 {
        max-width: initial;
    }

    .result_contnet01 > .info .txt02 {
        max-width: initial;
    }
    .result_contnet01 > .info .txt03 {
        max-width: 100px;
    }
    .result_contnet01 > .info .txt04 {
        max-width: initial;
    }

}