@charset "UTF-8";



.area_common01 {
    display: flex;
    flex-direction: column;
}

.common_content01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.common_content01 > li {
    width: 100%;
    display: block;
}



.a_group01 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.a_group01 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 12px 12px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    background-color: #fff;
}
.a_group01 > .area_tit01 > .left_box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 4px;
}
.a_group01 > .area_tit01 > .left_box .txt01 {
    width: max-content;
    display: block;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
    color: #4B5058;
    flex-shrink: 0;
}
.a_group01 > .area_tit01 > .left_box .txt02 {
    width: 100%;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    color: #FF5930;
}
.a_group01 > .area_tit01 > .right_box {
    width: 100%;
    display: flex;
}
.a_group01 > .area_tit01:has(.inp_comm:focus) {
    border: 1px solid #8597A880;
}

.a_group01.disabled > .area_tit01 {
    background-color: #E6E6E680;
}
.a_group01.disabled .right_box02 .com_inp01 > .inp_comm {
    width: 100%;
    color: #070F1680;
}
.a_group01.disabled .com_inp01 .ico_arr {
    background-image: url('../img/ico_arr_d_bottom.svg');
}

.a_group01.error > .reply {display: flex;}
.a_group01.error > .area_tit01 {border: 1px solid #EE444A;}
.a_group01.sucess > .reply {
    display: flex;
    padding: 0 20px;
    color: #2C333B;
}
.a_group01.sucess > .reply::before {
    content: none;
}


.com_inp01 {
    width: 100%;
    display: block;
    position: relative;
}
.com_inp01>.inp_comm {
    width: 100%;
    max-width: 256px;
    height: 22px;
    display: block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2C333B;
}
.com_inp01 .ico_arr {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('../img/ico_arr_bottom04.svg') no-repeat center / 100%;
    cursor: pointer;
}
/* .com_inp01:has(.inp_pw:focus) .ico_arr {
    background-image: url('../img/ico_arr_bottom04.svg');
} */
.com_inp01 > input::placeholder {
    width: max-content;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #B5B7BA;
    flex-shrink: 0;
}
.com_inp01 > input,
.com_inp01 > input:focus {
    border: 1px solid transparent;
}


.com_inp02 {
    width: 100%;
    display: block;
    position: relative;
}
.com_inp02 > .inp_comm {
    width: 100%;
    max-width: 256px;
    height: 22px;
    display: block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2C333B;
}
.com_inp02 .ico_arr {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('../img/ico_search.svg') no-repeat center / 100%;
    cursor: pointer;
}
.com_inp02 > input::placeholder {
    width: max-content;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #B5B7BA;
    flex-shrink: 0;
}
.com_inp02 > input,
.com_inp02 > input:focus {
    border: 1px solid transparent;
}

.com_inp03 {
    width: 100%;
    display: block;
    position: relative;
}
.com_inp03 > .inp_comm {
    width: 100%;
    height: 22px;
    display: block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2C333B;
    padding-right: 10px;
}
.com_inp03 > input::placeholder {
    width: max-content;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #B5B7BA;
    flex-shrink: 0;
}
.com_inp03 > input,
.com_inp03 > input:focus {
    border: 1px solid transparent;
}


.btn_group_center {
    width: 100%;
    display: flex;
    flex:1;
    gap: 8px;
    padding: 20px 0;
}

.board_box01 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.board_box01 > li {
    width: 100%;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #E6EAED;
}


.acq_item01 {
    width: 100%;
    display: block;
    position: relative;

    font-size: 13rem;
    font-weight: 500;
    line-height: 1.2;
    color: #4B5058;
    padding-left: 16px;
}
.acq_item01::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0584FA;
}
.acq_item02 {
    width: 100%;
    display: block;
    position: relative;

    font-size: 13rem;
    font-weight: 500;
    line-height: 1.2;
    color: #4B5058;
    padding-left: 16px;
}
.acq_item02::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #EB932E;
}
.acq_item03 {
    width: 100%;
    display: block;
    position: relative;

    font-size: 13rem;
    font-weight: 500;
    line-height: 1.2;
    color: #4B5058;
    padding-left: 16px;
}
.acq_item03::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #8A8C93;
}
.acq_item04 {
    width: 100%;
    display: block;
    position: relative;

    font-size: 13rem;
    font-weight: 500;
    line-height: 1.2;
    color: #4B5058;
    padding-left: 16px;
}
.acq_item04::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: url('../img/Ico_dott.svg') no-repeat center/100%;
}

.acquisition_tit {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 20px;
    background-color: #E6E6E680;
    border-radius: 10px;
    gap: 6px 16px;
}
.acquisition_tit > .acq_item01,
.acquisition_tit > .acq_item02,
.acquisition_tit > .acq_item03,
.acquisition_tit > .acq_item04 {
    width: calc( 50% - 12px) ;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    padding-left: 16px;
} 



.area_acquisition {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.area_acquisition > .left_box {
    width: 100%;
    display: block;
}
.area_acquisition > .right_box {
    width: 100%;
    display: flex;
    align-items: center;
}
.area_acquisition > .right_box .txt01 {
    width: 100%;
    max-width: 240px;
    display: block;

    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    color: #070F16;

}
.area_acquisition > .right_box .ico {
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/ico_arr_left05.svg') no-repeat center/100%;
    margin-left: auto;
}


.pick_search01 {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 8px;

    padding-bottom: 12px;
    border-bottom: 1px solid #73757E;
}

.pick_search01 .inp_srch {
    width: 100%;
    height: 48px;
    display: block;

    border: 1px solid #8597A880;
    border-radius: 8px;
    padding: 13px 20px 13px 22px;
}
.pick_search01 input.inp_srch {
    width: 100%;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
}
.pick_search01 .btn_secondary {
    max-width: 90px;
}





.area_table01 {
    width: 100%;
    display: block;
    padding: 16px 20px;
    background-color: #EDF5FF;
    border-radius: 10px;
}
.area_table02 {
    width: 100%;
    display: block;
    padding: 16px 20px;
    background-color: #F5F8FA80;
    border-radius: 10px;
}


.box_table01 {
    width: 100%;
}
.box_table01 tr {
    width: 100%;
}
.box_table01 tr + tr td {
    padding-top: 10px;
}
.box_table01 tr td > .txt01 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
}
.box_table01 tr td > .txt02 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
}
.box_table01 tr td > .txt03 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 700;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
}


.box_table02 {
    width: 100%;
}
.box_table02 tr {
    width: 100%;
}
.box_table02 tr + tr td {
    padding-top: 10px;
}
.box_table02 tr td > .txt01 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}
.box_table02 tr td > .txt02 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
}


.area_pop_table01 {
    width: 100%;
    display: block;
    padding: 0 10px;
}


.box_table03 {
    width: 100%;
}
.box_table03 tr {
    width: 100%;
}
.box_table03 tr td {
    padding-top: 12px;
    border-bottom: 1px solid #E6E6E680;
    padding-bottom: 8px;
}
.box_table03 tr td > .txt01 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}
.box_table03 tr td > .txt02 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
}




.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product li {
    width: 100%;
    display: block;
}
.product li > .txt01 {
    width: 100%;
    display: block;

    text-align: right;
    font-size:  17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
}
.product li > .txt01 a {
    width: 100%;
    display: inline;
    padding-bottom: 2px;
    border-bottom: 1px solid #070F16;
}



.area_footer_pop > .btn_tertiary {
    width: 40%;
}
.area_footer_pop > .btn_primary {
    width: 60%;
}











@media (min-width: 749px) {

    .area_acquisition > .right_box .txt01 {
        max-width: initial;
    }

}