@charset "UTF-8";

@import url(jquery-ui.css);
@import url(swiper-bundle.min.css);
@import url(reset.css);
@import url(font.css);

/* splash, login, office-app */
@import url(ml.css);




html {
    height: 100%;
    font-size: 6.25%;
}

body {
    height: 100%;
    font-family: "Pretendard GOV", -apple-system, BlinkMacSystemFont, "Malgun Gothic", sans-serif;
}

.mt20 {margin-top: 20px;}



/* button */
.btn_primary {width: 100%;height: 48px;display: flex;align-items: center;justify-content: center;background-color: #162C8F;border-radius: 10px;}
.btn_primary > .txt {width: 100%;display: block;font-size: 17rem;font-weight: 600;color: #fff;line-height: 1.4;}
.btn_primary:hover {background-color: #122372;}
.btn_primary:hover > .txt {color: #fff;}
.btn_primary:disabled {background-color: #E6EAED;}
.btn_primary:disabled > .txt {color: #383C4C80;}

.btn_secondary {width: 100%;height: 48px;display: flex;align-items: center;justify-content: center;background-color: #1F5EFF;border-radius: 10px;}
.btn_secondary > .txt {width: 100%;display: block;font-size: 17rem;font-weight: 600;color: #fff;line-height: 1.4;}
.btn_secondary:hover {background-color: #194CCD;}
.btn_secondary:hover > .txt {color: #fff;}
.btn_secondary:disabled {background-color: #E6EAED;}
.btn_secondary:disabled > .txt {color: #383C4C80;}

.btn_tertiary {width: 100%;height: 48px;display: flex;align-items: center;justify-content: center;background-color: #E6EAED;border-radius: 10px;}
.btn_tertiary > .txt {width: 100%;display: block;font-size: 17rem;font-weight: 600;color: #2C333B;line-height: 1.4;}
.btn_tertiary:hover {background-color: #DAE0E5;}
.btn_tertiary:hover > .txt {color: #2C333B;}
.btn_tertiary:disabled {background-color: #E6EAED;}
.btn_tertiary:disabled > .txt {color: #383C4C80;}


.f_group01 {
    width: 100%;
    display: block;
}
.f_group01 .btn_primary {border-radius: 0;}
.f_group01 .btn_secondary {border-radius: 0;}
.f_group01 .btn_tertiary {border-radius: 0;}



.btn_login {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow:0 0px 10px 0px #2C466858;
    background: url('../img/btn_login.svg') no-repeat center/100%;
}
.btn_login > .txt01 {
    width: 100%;
    display: block;
    font-size: 20rem;
    font-weight: 500;
    color: #fff;
    line-height: 1;
}
.btn_findpw {
    width: max-content;
    position: relative;
    padding-right: 20px;
}
.btn_findpw::before {
    content: '';
    width: 6px;
    height: 11px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('../img/ico_arr_left.svg') no-repeat center/100%;
}
.btn_findpw .txt01 {
    width: 100%;
    display: block;
    font-size: 15rem;
    font-weight: 400;
    color: #4D555C;
    line-height: 1;
}
.btn_back {
    display: block;
    background-image: url('../img/btn_back.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.btn_setting {
    display: block;
    background-image: url('../img/btn_setting.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.btn_close {
    display: block;
    background-image: url('../img/btn_close.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.btn_nav_home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px 0;
}
.btn_nav_home > .ico {
    background-image: url('../img/btn_home.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.btn_nav_home.active > .ico {
    background-image: url('../img/btn_home_on.svg');
}
.btn_nav_home .txt01 {
    width: 100%;
    display: block;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
}
.btn_nav_home.active .txt01 {
    font-weight: 600;
}
.btn_nav_fac {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px 0;
}
.btn_nav_fac > .ico {
    background-image: url('../img/btn_fac.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.btn_nav_fac.active > .ico {
    background-image: url('../img/btn_fac_on.svg');
}
.btn_nav_fac .txt01 {
    width: 100%;
    display: block;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
}
.btn_nav_fac.active .txt01 {
    font-weight: 600;
}
.btn_nav_store {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px 0;
}
.btn_nav_store > .ico {
    background-image: url('../img/btn_store.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.btn_nav_store.active > .ico {
    background-image: url('../img/btn_store_on.svg');
}
.btn_nav_store .txt01 {
    width: 100%;
    display: block;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
}
.btn_nav_store.active .txt01 {
    font-weight: 600;
}
.btn_nav_setting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px 0;
}
.btn_nav_setting > .ico {
    background-image: url('../img/btn_setting.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.btn_nav_setting.active > .ico {
    background-image: url('../img/btn_setting_on.svg');
}
.btn_nav_setting .txt01 {
    width: 100%;
    display: block;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
}
.btn_nav_setting.active .txt01 {
    font-weight: 600;
}

.btn_setting_01 {width: 100%; min-height: 79px; display: block;padding: 20px 16px; border: 1px solid #8295A766;border-radius: 8px;}
.btn_setting_01 > .area_content01 {width: 100%;display: flex;justify-content: center;flex-direction: column;gap: 5px;position: relative;padding-left: 40px;}
.btn_setting_01 > .area_content01::before {content: '';width: 28px;height: 28px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);background: url('../img/ico_setting_d_01.svg') no-repeat center/100%;}
.btn_setting_01 > .area_content01::after {content: '';width: 28px;height: 28px;position: absolute;top: 50%;right: 0;transform: translateY(-50%);background: url('../img/ico_setting_arr.svg') no-repeat center/100%;}
.btn_setting_01 > .area_content01 .txt01 {width: 100%;display: block;text-align: left;font-size: 17rem;font-weight: 400;line-height: 1;color: #070F16D1;}
.btn_setting_01 > .area_content01 .txt02 {width: 100%;display: block;text-align: left;font-size: 15rem;font-weight: 400;line-height: 1;color: #73757E;}

.btn_setting_02 {width: 100%; min-height: 79px; display: block;padding: 20px 16px; border: 1px solid #8295A766;border-radius: 8px;}
.btn_setting_02 > .area_content01 {width: 100%;display: flex;justify-content: center;flex-direction: column;gap: 5px;position: relative;padding-left: 40px;}
.btn_setting_02 > .area_content01::before {content: '';width: 28px;height: 28px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);background: url('../img/ico_setting_d_02.svg') no-repeat center/100%;}
.btn_setting_02 > .area_content01::after {content: '';width: 28px;height: 28px;position: absolute;top: 50%;right: 0;transform: translateY(-50%);background: url('../img/ico_setting_arr.svg') no-repeat center/100%;}
.btn_setting_02 > .area_content01 .txt01 {width: 100%;display: block;text-align: left;font-size: 17rem;font-weight: 400;line-height: 1;color: #070F16D1;}
.btn_setting_02 > .area_content01 .txt02 {width: 100%;display: block;text-align: left;font-size: 15rem;font-weight: 400;line-height: 1;color: #73757E;}

.btn_setting_03 {width: 100%; min-height: 79px; display: block;padding: 20px 16px; border: 1px solid #8295A766;border-radius: 8px;}
.btn_setting_03 > .area_content01 {width: 100%;display: flex;justify-content: center;flex-direction: column;gap: 5px;position: relative;padding-left: 40px;}
.btn_setting_03 > .area_content01::before {content: '';width: 28px;height: 28px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);background: url('../img/ico_setting_d_03.svg') no-repeat center/100%;}
.btn_setting_03 > .area_content01::after {content: '';width: 28px;height: 28px;position: absolute;top: 50%;right: 0;transform: translateY(-50%);background: url('../img/ico_setting_arr.svg') no-repeat center/100%;}
.btn_setting_03 > .area_content01 .txt01 {width: 100%;display: block;text-align: left;font-size: 17rem;font-weight: 400;line-height: 1;color: #070F16D1;}
.btn_setting_03 > .area_content01 .txt02 {width: 100%;display: block;text-align: left;font-size: 15rem;font-weight: 400;line-height: 1;color: #73757E;}

.btn_setting_04 {width: 100%; min-height: 79px; display: block;padding: 20px 16px; border: 1px solid #8295A766;border-radius: 8px;}
.btn_setting_04 > .area_content01 {width: 100%;display: flex;justify-content: center;flex-direction: column;gap: 5px;position: relative;padding-left: 40px;}
.btn_setting_04 > .area_content01::before {content: '';width: 28px;height: 28px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);background: url('../img/ico_setting_d_04.svg') no-repeat center/100%;}
.btn_setting_04 > .area_content01::after {content: '';width: 28px;height: 28px;position: absolute;top: 50%;right: 0;transform: translateY(-50%);background: url('../img/ico_setting_arr.svg') no-repeat center/100%;}
.btn_setting_04 > .area_content01 .txt01 {width: 100%;display: block;text-align: left;font-size: 17rem;font-weight: 400;line-height: 1;color: #070F16D1;}
.btn_setting_04 > .area_content01 .txt02 {width: 100%;display: block;text-align: left;font-size: 15rem;font-weight: 400;line-height: 1;color: #73757E;}

.btn_setting_05 {width: 100%; min-height: 79px; display: block;padding: 20px 16px; border: 1px solid #8295A766;border-radius: 8px;}
.btn_setting_05 > .area_content01 {width: 100%;display: flex;justify-content: center;flex-direction: column;gap: 5px;position: relative;padding-left: 40px;}
.btn_setting_05 > .area_content01::before {content: '';width: 28px;height: 28px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);background: url('../img/ico_setting_d_05.svg') no-repeat center/100%;}
.btn_setting_05 > .area_content01::after {content: '';width: 28px;height: 28px;position: absolute;top: 50%;right: 0;transform: translateY(-50%);background: url('../img/ico_setting_arr.svg') no-repeat center/100%;}
.btn_setting_05 > .area_content01 .txt01 {width: 100%;display: block;text-align: left;font-size: 17rem;font-weight: 400;line-height: 1;color: #070F16D1;}
.btn_setting_05 > .area_content01 .txt02 {width: 100%;display: block;text-align: left;font-size: 15rem;font-weight: 400;line-height: 1;color: #73757E;}

.btn_setting_06 {width: 100%; min-height: 79px; display: block;padding: 20px 16px; border: 1px solid #8295A766;border-radius: 8px;}
.btn_setting_06 > .area_content01 {width: 100%;display: flex;justify-content: center;flex-direction: column;gap: 5px;position: relative;padding-left: 40px;}
.btn_setting_06 > .area_content01::before {content: '';width: 28px;height: 28px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);background: url('../img/ico_setting_d_06.svg') no-repeat center/100%;}
.btn_setting_06 > .area_content01::after {content: '';width: 28px;height: 28px;position: absolute;top: 50%;right: 0;transform: translateY(-50%);background: url('../img/ico_setting_arr.svg') no-repeat center/100%;}
.btn_setting_06 > .area_content01 .txt01 {width: 100%;display: block;text-align: left;font-size: 17rem;font-weight: 400;line-height: 1;color: #070F16D1;}
.btn_setting_06 > .area_content01 .txt02 {width: 100%;display: block;text-align: left;font-size: 15rem;font-weight: 400;line-height: 1;color: #73757E;}
/* //button */


/* input */
.common_inp01 {width: 100%;display: block;position: relative;}
.common_inp01::before {content: '';width: 20px;height: 20px;position: absolute;top: 50%;left: 20px;transform: translateY(-50%);background: url('../img/ico_id_d.svg') no-repeat center /100%;}
.common_inp01:has(.inp_id:focus)::before  {background-image: url('../img/ico_id_on.svg');}
.common_inp01 > .inp_id {width: 100%;height: 48px;min-width: 260px;display: block;padding: 20px 26px 20px 48px;border-radius: 100px;font-size: 16rem;font-weight: 400;}

.common_inp02 {width: 100%;display: block;position: relative;}
.common_inp02::before {
    content: '';
    width: 20px;height: 20px;
    position: absolute;top: 50%;left: 20px;
    transform: translateY(-50%);
    background: url('../img/ico_pw_d.svg') no-repeat center /100%;
}
.common_inp02:has(.inp_pw:focus)::before  {background-image: url('../img/ico_pw_on.svg');}
.common_inp02 > .inp_pw {width: 100%;height: 48px;min-width: 260px;display: block;padding: 20px 52px 20px 48px;border-radius: 100px;font-size: 16rem;font-weight: 400;}
.common_inp02 .btn_pw {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: url('../img/ico_eye_d.svg') no-repeat center / 100%;
    cursor: pointer;
}
.common_inp02:has(.inp_pw:focus) .btn_pw {
    background-image: url('../img/ico_eye_f.svg');
}
.common_inp02.active .btn_pw {
    background-image: url('../img/ico_eye_on.svg');
}
/* //input */

/* Bottom Sheet */
.dim {
    position: fixed;
    overflow: hidden;
    inset: 0;
    opacity: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.56);
}
.dim.act {
    transition: opacity 0.2s ease-in;
    opacity: 1;
    z-index: 100;
}
.sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 24px 24px 0 0;
    background-color: #fff;

    transform: translateY(100%);
    transition: transform 0.2s ease-in-out;
}
.sheet.act {
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
}
.sheet.act.bh10 {
    height: 10%;
}
.sheet.act.bh70 {
    height: 70%;
}

.sheet .left_box {
    width: 100%;
    display: block;
    padding: 20px 20px 0 20px;
}
.sheet .left_box > .area_tit01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sheet .left_box > .area_tit01 .txt01 {
    width: max-content;
    display: block;
    
    font-size:  20rem;
    font-weight: 700;
    line-height: 1.4;
    color: #2C333B;
}
.sheet .right_box {
    height: 100%;
    margin-top: 16px;
    overflow-y: scroll;
    /* padding-bottom: 30px; */
}
.sheet .right_box::-webkit-scrollbar {
    display: none;
}
/* //Bottom Sheet */

/* swith */
.swith_label {
    cursor: pointer;
}
.swith_check {
    position: relative;
    border: 1px solid #D5D5D5;
    background-color: #D5D5D5;
    border-radius: 12px;
    width: 45px;
    height: 24px;
}
.swith_check::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    transition: left 250ms linear;
}
.swith_check:checked {
    background-color: #1F5EFF;
    border-color: #1F5EFF;
}
.swith_check:checked::before {
    background-color: #fff;
    left: 23px;
}
.swith_check:disabled {
    border-color: #D5D5D5;
    opacity: 0.7;
}
.swith_check:disabled:before {
    background-color: #fff;
}
/* //swith */

/* tab */
.tab_wrap {
    width: 100%;
    display: block;
    border-bottom: 1px solid #BBCADA;
}
.tab_wrap .tab_nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.tab_wrap .tab_nav li {
    width: 100%;
    display: flex;
    align-items: center;
}
.tab_wrap .tab_nav li a {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: -1px;
}
.tab_wrap .tab_nav li a.act {
    border-bottom: 2px solid #495057;
}
.tab_wrap .tab_nav li a .tit01 {
    width: 100%;
    display: block;
    font-size: 17rem;
    font-weight: 500;
    line-height: 1.2;
}
.tab_wrap .tab_nav li a.act .tit01 {
    font-weight: 700;
}
/* //tab */


/* layout */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}
#header {
    width: 100%;
    height: 56px;
    display: block;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.contents {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: auto;;
}
.footer {
    width: 100%;
    min-height: 70px; 
    background-color: #FFF;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
}
/* // layout */


/* header */
.h_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 14px 0;
    max-height: 52px;
}
.h_wrap > .title {
    width: 100%;
    display: block;
    font-size: 17rem;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
}
.h_wrap .gnb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px;
    position: absolute;
}

.h_wrap .gnb_nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 8px;
}
/* //header */


/* app_bar */
.app_bar {
    width: 100%;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.app_bar li  {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* //app_bar */


/* Alert */
.alert_dim {
    position: absolute;
    inset: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.56);
}
.alert_dim.active {
    display: flex;
}
.alert_wrap {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-width: 280px;
    min-height: 236px;
    max-width: 85%;
    max-height: 85%;

    padding: 20px 16px 16px 16px;
    border-radius: 16px;
    background-color: #fff;
}
.alert_wrap .left_box {
    width: 100%;
    display: block;
    /* min-height: 172px; */
}
.alert_wrap .left_box .area_tit01 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 4px;
}
.alert_wrap .left_box .area_content01 {
    width: 100%;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}
.alert_wrap .inp_err .txt01 {
    width: 100%;
    display: block;
    text-align: center;
    
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    margin-top: 12px;
}
.alert_wrap .inp_err .txt02 {
    width: 100%;
    display: block;
    text-align: center;
    
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.9;
}
.alert_wrap .inp_err .txt03 {
    width: max-content;
    display: inline-block;
    text-align: center;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.9;
    color: #EE444A;
}
.alert_wrap .right_box {
    width: 100%;
    display: block;
    margin-top: 16px;
}
/* //Alert */