@charset "UTF-8";

/* input */
.common_inp01 {width: 100%;display: block;position: relative;}
.common_inp01::before {content: '';width: 20px;height: 20px;position: absolute;top: 50%;left: 20px;transform: translateY(-50%);background: url('../img/ico_id_d.svg') no-repeat center /100%;}
.common_inp01:has(.inp_id:focus)::before  {background-image: url('../img/ico_id_on.svg');}
.common_inp01 > .inp_id {width: 100%;height: 48px;min-width: 260px;display: block;padding: 20px 26px 20px 48px;border-radius: 100px;font-size: 16rem;font-weight: 400;}

.common_inp02 {width: 100%;display: block;position: relative;}
.common_inp02::before {
    content: '';
    width: 20px;height: 20px;
    position: absolute;top: 50%;left: 20px;
    transform: translateY(-50%);
    background: url('../img/ico_pw_d.svg') no-repeat center /100%;
}
.common_inp02:has(.inp_pw:focus)::before  {background-image: url('../img/ico_pw_on.svg');}
.common_inp02 > .inp_pw {width: 100%;height: 48px;min-width: 260px;display: block;padding: 20px 52px 20px 48px;border-radius: 100px;font-size: 16rem;font-weight: 400;}
.common_inp02 .btn_pw {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: url('../img/ico_eye_d.svg') no-repeat center / 100%;
    cursor: pointer;
}
.common_inp02:has(.inp_pw:focus) .btn_pw {
    background-image: url('../img/ico_eye_f.svg');
}
.common_inp02.active .btn_pw {
    background-image: url('../img/ico_eye_on.svg');
}
/* //input */