@charset "UTF-8";


/* setting */
.setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 20px;
    gap: 10px;

    padding-bottom: 100px;
}
.setting li {
    width: 100%;
    display: block;
}
/* //setting */


/* 접근권한 설정 */
.area_access {
    width: 100%;
    display: block;
    margin-top: 20px;
}
.area_access li {
    width: 100%;
    display: block;
}
.access {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    position: relative;
}


.access > .ico_acc01 {width: 100%;display: block;font-size: 17rem;font-weight: 400;line-height: 1;color: #020C15D1;padding-left: 40px;}
.access > .ico_acc01::before {content: '';position: absolute;top : 50%;left: 20px;transform: translateY(-50%);width: 28px;height: 28px;background: url('../img/ico_setting_d_07.svg') no-repeat center/100%;}
.access > .ico_acc01.active::before {background-image: url('../img/ico_setting_on_07.svg');}

.access > .ico_acc02 {width: 100%;display: block;font-size: 17rem;font-weight: 400;line-height: 1;color: #020C15D1;padding-left: 40px;}
.access > .ico_acc02::before {content: '';position: absolute;top : 50%;left: 20px;transform: translateY(-50%);width: 28px;height: 28px;background: url('../img/ico_setting_d_08.svg') no-repeat center/100%;}
.access > .ico_acc02.active::before {background-image: url('../img/ico_setting_on_08.svg');}

.access > .ico_acc03 {width: 100%;display: block;font-size: 17rem;font-weight: 400;line-height: 1;color: #020C15D1;padding-left: 40px;}
.access > .ico_acc03::before {content: '';position: absolute;top : 50%;left: 20px;transform: translateY(-50%);width: 28px;height: 28px;background: url('../img/ico_setting_d_09.svg') no-repeat center/100%;}
.access > .ico_acc03.active::before {background-image: url('../img/ico_setting_on_09.svg');}

.access > .ico_acc04 {width: 100%;display: block;font-size: 17rem;font-weight: 400;line-height: 1;color: #020C15D1;padding-left: 40px;}
.access > .ico_acc04::before {content: '';position: absolute;top : 50%;left: 20px;transform: translateY(-50%);width: 28px;height: 28px;background: url('../img/ico_setting_d_10.svg') no-repeat center/100%;}
.access > .ico_acc04.active::before {background-image: url('../img/ico_setting_on_10.svg');}

.access > .ico_acc05 {width: 100%;display: block;font-size: 17rem;font-weight: 400;line-height: 1;color: #020C15D1;padding-left: 40px;}
.access > .ico_acc05::before {content: '';position: absolute;top : 50%;left: 20px;transform: translateY(-50%);width: 28px;height: 28px;background: url('../img/ico_setting_d_11.svg') no-repeat center/100%;}
.access > .ico_acc05.active::before {background-image: url('../img/ico_setting_on_11.svg');}

.access > .ico_acc06 {width: 100%;display: block;font-size: 17rem;font-weight: 400;line-height: 1;color: #020C15D1;padding-left: 40px;}
.access > .ico_acc06::before {content: '';position: absolute;top : 50%;left: 20px;transform: translateY(-50%);width: 28px;height: 28px;background: url('../img/ico_setting_d_12.svg') no-repeat center/100%;}
.access > .ico_acc06.active::before {background-image: url('../img/ico_setting_on_12.svg');}

.access > .ico_acc07 {width: 100%;display: block;font-size: 17rem;font-weight: 400;line-height: 1;color: #020C15D1;padding-left: 40px;}
.access > .ico_acc07::before {content: '';position: absolute;top : 50%;left: 20px;transform: translateY(-50%);width: 28px;height: 28px;background: url('../img/ico_setting_d_13.svg') no-repeat center/100%;}
.access > .ico_acc07.active::before {background-image: url('../img/ico_setting_on_13.svg');}

.access > .ico_acc09 {width: 100%;display: block;font-size: 17rem;font-weight: 400;line-height: 1;color: #020C15D1;padding-left: 40px;}
.access > .ico_acc09::before {content: '';position: absolute;top : 50%;left: 20px;transform: translateY(-50%);width: 28px;height: 28px;background: url('../img/ico_setting_d_15.svg') no-repeat center/100%;}
.access > .ico_acc09.active::before {background-image: url('../img/ico_setting_on_15.svg');}




.access01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    position: relative;
}
.access01 > .ico_acc08 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    gap: 6px;
}
.access01 > .ico_acc08::before {
    content: '';
    position: absolute;
    top : 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background: url('../img/ico_setting_d_14.svg') no-repeat center/100%;
}
.access01 > .ico_acc08.active::before {
    background-image: url('../img/ico_setting_on_14.svg');
}
.access01 > .ico_acc08 > .txt01 {
    width: 100%;
    display: block;
    font-size: 17rem;
    font-weight: 400;
    line-height: 1;
    color: #020C15D1;
}
.access01 > .ico_acc08 > .txt02 {
    width: 100%;
    display: block;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
    color: #EE444A;
}

/* //접근권한 설정 */



.myapp02 {
    width: 100% ;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0 20px;
}
.myapp02 > .left_box {
    width: 100%;
    display: block;
    padding: 10px 20px 20px 20px;
}
.myapp02 > .left_box .area_tit01 {
    width: 100%;
    display: block;
}
.myapp02 > .left_box .area_tit01 .txt01 {
    width: 100%;
    display: block;

    font-size: 20rem;
    font-weight: 700;
    line-height: 1.4;
    color: #2C333B;
}
.myapp02 > .right_box {
    width: 100%;
    display: block;
    overflow-y: auto;
}



.app_menu01 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 34px;

    padding: 26px 0 100px 0;
}

/* 드래그 앤 드롭 */
.app_menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    padding: 26px 20px 140px 20px;
    background-color: #EBF0F5;
}
.app_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app_item.over .ico {
    border: 2px dashed #4a90d9;
}
.app_item .txt01 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 500;
    line-height: 1;
    color: #2B3942;
    text-align: center;
    margin-top: 6px;
}
.app_item>.ico {
    width: 74px;
    height: 74px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
}
.app_item>.ico.app01::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app01.svg') no-repeat center/100%;}
.app_item>.ico.app02::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app02.svg') no-repeat center/100%;}
.app_item>.ico.app03::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app03.svg') no-repeat center/100%;}
.app_item>.ico.app04::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app04.svg') no-repeat center/100%;}
.app_item>.ico.app05::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app05.svg') no-repeat center/100%;}
.app_item>.ico.app06::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app06.svg') no-repeat center/100%;}
.app_item>.ico.app07::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app07.svg') no-repeat center/100%;}
.app_item>.ico.app08::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app08.svg') no-repeat center/100%;}
.app_item>.ico.app09::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app09.svg') no-repeat center/100%;}
.app_item>.ico.app10::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app10.svg') no-repeat center/100%;}
.app_item>.ico.app11::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app11.svg') no-repeat center/100%;}
.app_item>.ico.app12::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app12.svg') no-repeat center/100%;}
.app_item>.ico.app13::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app13.svg') no-repeat center/100%;}
.app_item>.ico.app14::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app14.svg') no-repeat center/100%;}
.app_item>.ico.app15::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app15.svg') no-repeat center/100%;}
.app_item>.ico.app16::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app16.svg') no-repeat center/100%;}
.app_item>.ico.app17::before {content: '';width: 36px;height: 36px;background: url('../img/ico_app17.svg') no-repeat center/100%;}
/* //드래그 앤 드롭 */


/* banner */
.banner {
    width: 100%;
    display: block;
}
.banner-swiper {
    width: 100%;
    /* width: calc(100% - 40px); */
    /* margin: 0 auto; */
    /* padding-top: 200px; */
    /* border: 1px solid red; */
}
.banner_item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}
.banner_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 20px; */
}
.banner_img img {
    /* width: 340px; */
    width: 100%;
    max-height: 90px;
}

.banner-swiper .swiper-pagination {position: relative;margin-top: 16px;}
.banner-swiper .swiper-pagination-bullet {width: 8px;height: 8px;background: #ccc;opacity: 1;}
.banner-swiper .swiper-pagination-bullet-active {width: 20px;border-radius: 4px;background: #333;}
/* //banner */



.splash {
    width: 100%;
    height: 100%;
    display: block;
    
    background-image: url('../img/img_splash_m.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 327px;
    background-color: #EBF0F5;
}

.splash .area_contents01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
    margin-top: 128px;
    padding-left: 52px;
    box-sizing: border-box;
}
.splash .area_contents01 .logo_txt01 {
    width: 100%;
    display: block;
    margin-top: 19px;
}
.splash .area_contents01 .logo_txt01 .txt01{
    width: 100%;
    display: block;

    font-family: "TheJamsil";
    /* font-size: 42rem; */
    font-size: 42px;
    font-weight: 400;
    line-height: 1;
    color: #0A1648;
}
.splash .area_contents01 .logo_02 {
    width: 100%;
    display: block;
    margin-top: 56px;
}
.splash .area_contents01 .logo_txt02 {
    width: 100%;
    display: block;
    margin-top: 15px;
}
.splash .area_contents01 .logo_txt02 .txt01{
    width: 100%;
    display: block;

    font-size: 13rem;
    font-weight: 400;
    line-height: 23px;
    color: #505B66;
}



/* login */
.login {
    width: 100%;
    height: 100%;
    display: block;
    
    background-image: url('../img/img_splash_m.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 327px;
    background-color: #EBF0F5;
}

.login > .area_content01 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap : 59px 0;
}
.login > .area_content01 .left_box {
    width: 100%;
    display: block;
}
.login > .area_content01 .left_box .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: 72px;
    padding-left: 46px;
}
.login > .area_content01 .left_box .area_tit01 .logo_01 {
    width: 100%;
    display: block;
}
.login > .area_content01 .left_box .area_tit01 .logo_txt01 {
    width: 100%;
    display: block;
    margin-top: 10px;
}
.login > .area_content01 .left_box .area_tit01 .logo_txt01 .txt01{
    width: 100%;
    display: block;

    font-family: "TheJamsil";
    font-size: 35rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -4%;
    color: #0A1648;
}
.login > .area_content01 .right_box {
    width: 100%;
    height: 100%;
    padding: 0 46px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px 0;
}
.login .area_content01 .right_box .area_tit01 {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px 0;
}
.login .area_content01 .right_box .area_content01 {
    position: absolute;
    bottom: 0;
}
.login .area_content01 .right_box .area_content01 .logo_02{
    width: 100%;
    
    display: block;
    margin-top: auto;
    margin-bottom: 38px;
    text-align: center;
}
.login .group_tit01 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
.login .group_tit01 .left_box01 {
    width: max-content;
    display: flex;
    align-items:center;
}
.login .group_tit01 .left_box01 .txt01 {
    width: max-content;
    display: inline-block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
    color: #4D555C;
}
.login .group_tit01 .left_box01 .txt02 {
    width: max-content;
    display: inline-block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
    color: #1F5EFF;
}
.login .group_tit01 .line {
    width: 2px;
    height: 16px;
    display: inline-block;
    background-color: #CDCDCD;
    margin: 0 11px;
}
.login .group_tit01 .right_box01 {
    width: max-content;
    display: block;
}
/* // login */



.myapp01 {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    padding-top:12px;
    padding-bottom: 30px;
}
.myapp01 > .left_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 20px; */
}
.myapp01 > .left_box .area_tit01 {
    width: 100%;
    display: block;
}
.myapp01 > .left_box .area_tit01 .txt01 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 600;
    line-height: 1;
    color: #191B1D;
}
.myapp01 > .left_box .area_content01 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.myapp01 > .left_box .area_content01 .txt01 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
    color: #191B1D;
    position: relative;
    padding-right: 14px;
}
.myapp01 > .left_box .area_content01 .txt01::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 6px;
    height: 11px;
    background: url('../img/ico_arr_left.svg') no-repeat center/100%;
}
.myapp01 > .right_box {
    width: 100%;
    display: block;
}



/* 개인정보 수집 */
.area_terms {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    padding-bottom: 130px;
}
.area_terms .tit01 {
    width: 100%;
    display: block;

    font-size: 20rem;
    font-weight: 700;
    line-height: 1.4;
    color: #2C333B;
}
.area_terms .info01 {
    width: 100%;
    display: block;
}
.area_terms .info01 .txt01 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.7;
    color: #070F16D1;
}
.area_terms .info01 .depth01 {
    width: 100%;
    display: block;
    padding-left: 7px;
}
.area_terms .info01 .depth01 li + li {
    margin-top: 4px;
}
.area_terms .info01 .depth01 .txt02 {
    width: 100%;
    display: block;
    
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.4;
    color: #020C15B8;
}
.area_terms .info01 .depth01 .depth02 {
    width: 100%;
    display: block;
    padding-left: 20px;
}
.area_terms .info01 .depth01 .depth02 li+li {
    margin-top: 4px;
}
.area_terms .info01 .depth01 .depth02 .txt03 {
    width: 100%;
    display: block;
    
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.4;
    color: #020C15B8;
}
.area_terms .info01 .depth01 .depth02 .depth03 {
    width: 100%;
    display: block;
    padding-left: 10px;
}
.area_terms .info01 .depth01 .depth02 .depth03 .txt04 {
    width: 100%;
    display: block;
    
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.4;
    color: #020C15B8;
}
/* //개인정보 수집 */



/* 비밀번호 등록,찾기 */
.area_regist_pw {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px 0;
}
.area_regist_pw .left_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
.area_regist_pw .left_box .txt01 {
    width: 100%;
    display: block;
    font-size: 20rem;
    font-weight: 700;
    line-height: 1.4;
    color: #2C333B;
    text-align: center;
}
.area_regist_pw .left_box .txt02 {
    width: 100%;
    display: block;
    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    text-align: center;
}

.area_regist_check {
    width: 100%;
    display: block;
}
.area_regist_check li + li {
    margin-top: 12px;
}


/* 간편로그인 */
.area_simple {
    width: calc(100% - 40px);
    max-width: 360px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.area_simple .left_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
.area_simple .left_box .txt01 {
    width: 100%;
    display: block;
    font-size: 20rem;
    font-weight: 700;
    line-height: 1.4;
    color: #2C333B;
    text-align: center;
}
.area_simple .left_box .txt02 {
    width: 100%;
    display: block;
    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    text-align: center;
}

.area_simple_check {
    width: 100%;
    display: block;
}
.area_simple_check li +  li {
    margin-top: 12px;
}





/* //간편로그인 */

.f_group02 {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.f_group02 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
}
.f_group02 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group02 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group02 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group02 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.2;
    color: #FF5930;
}
.f_group02 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}


.f_group03{
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.f_group03 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 14px 12px 4px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
}
.f_group03 > .area_tit01 .left_box03 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group03 > .area_tit01 .left_box03 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group03 > .area_tit01 .left_box03 .txt02 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.2;
    color: #FF5930;
}
.f_group03 > .area_tit01 .right_box03 {
    width: 100%;
    display: flex;
}
.f_group03 > .area_tit01 .right_box03 .common_inp04 .btn_secondary {
    max-width: 69px;
    height: 40px;
}
.f_group03 > .area_tit01 .right_box03 .common_inp04 .btn_secondary .txt{
    /* font-size: 15rem; */
    font-size: 15px;
}
.f_group03 .time {
    width: 100%;
    display: none;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
    color: #FF5930;
    padding-top: 6px;
    padding-left: 20px;
}

.f_group03.active .time{
    display: block;
}



.btn_pin {
    width: 100%;
    min-height: 68px;
    
    display: flex;
    align-items: center;

    padding: 17px 20px; 
    border-radius: 8px;
    border: 1px solid #8597A880;
}
.btn_pin > .txt01{
    width: 100%;
    display: block;
    position: relative;
    padding-left: 67px;
    
    text-align:left;
    font-size: 17rem;
    font-weight: 500;
    line-height: 1;
} 
.btn_pin > .txt01::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../img/ico_login_01.svg') no-repeat center/100%;
    width: 50px;
    height: 50px;
}
.btn_pin:hover {
    border: 1px solid #8597A8;
    box-shadow:0 0px 8px 0px #00000094;
}

.btn_pattern {
    width: 100%;
    min-height: 68px;
    
    display: flex;
    align-items: center;

    padding: 17px 20px; 
    border-radius: 8px;
    border: 1px solid #8597A880;
}
.btn_pattern > .txt01{
    width: 100%;
    display: block;
    position: relative;
    padding-left: 67px;
    
    text-align:left;
    font-size: 17rem;
    font-weight: 500;
    line-height: 1;
} 
.btn_pattern > .txt01::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../img/ico_login_02.svg') no-repeat center/100%;
    width: 50px;
    height: 50px;
}
.btn_pattern:hover {
    border: 1px solid #8597A8;
    box-shadow:0 0px 8px 0px #00000094;
}

.btn_finger {
    width: 100%;
    min-height: 68px;
    
    display: flex;
    align-items: center;

    padding: 17px 20px; 
    border-radius: 8px;
    border: 1px solid #8597A880;
}
.btn_finger > .txt01{
    width: 100%;
    display: block;
    position: relative;
    padding-left: 67px;
    
    text-align:left;
    font-size: 17rem;
    font-weight: 500;
    line-height: 1;
} 
.btn_finger > .txt01::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../img/ico_login_03.svg') no-repeat center/100%;
    width: 50px;
    height: 50px;
}
.btn_finger:hover {
    border: 1px solid #8597A8;
    box-shadow:0 0px 8px 0px #00000094;
}


.state {
    width: 100%;
    height: 33px;
    max-width: 78px;
    
    display: none;
    align-items: center;
    justify-content: center;

    font-size: 14rem;
    font-weight: 600;
    line-height: 1;
    color: #162C8F;
    
    border-radius: 50px;
    background-color: #8894CA33;
}
.state.active {
    display: flex;
}


/* 간편인증 등록 */
.popup_wrap > .right_box .area_tit01 {
    width: 100%;
    min-height: 200px;
    display: block;
    margin-top: 16px;
}
.popup_wrap > .right_box .area_tit01 .box_tit01 {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}
.popup_wrap > .right_box .area_tit01 .box_tit01 li {
    width: 100%;
    display: block;
}
.popup_wrap > .right_box .area_tit01 .box_tit01 li + li {
    margin-top: 20px;
}
.popup_wrap > .right_box .area_tit01 .box_tit01 li .txt01 {
    width: 100%;
    display: block;

    text-align: center;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}
.popup_wrap > .right_box .area_tit01 .box_tit01 li .txt02 {
    width: 100%;
    display: block;

    text-align: center;
    font-size: 17rem;
    font-weight: 700;
    line-height: 1.4;
    color: #2C333B;
}



.popup_wrap > .right_box .area_tit01 .box_tit02 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
    border-radius: 10px;
    background-color: #EDF5FF;
}
.popup_wrap > .right_box.no_height .area_tit01 .box_tit01 {
    min-height: initial;
}
.popup_wrap > .right_box .area_tit01 .box_tit02 > .txt01 {
    width: max-content;
    display: inline-block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
}
.popup_wrap > .right_box .area_tit01 .box_tit02 > .txt01 .txt02 {
    width: max-content;
    display: inline-block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #1F5EFF;
}

.popup_wrap > .right_box .area_tit01 .box_tit03 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.popup_wrap > .right_box .area_tit01 .box_tit03 > .txt01 {
    width: max-content;
    display: inline-block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}

/* //간편인증 등록 */


/* 다른 간편인증 방법으로 로그인 */

.area_btn01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area_btn01 .box_btn01 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 10px 0;
}


.btn_other_finger {
    width: 70px;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    position: relative;
    border: 1px solid transparent;
    background-color: #D9D9D936;
}
.btn_other_finger::before {
    content: '';
    width: 50px;
    height: 50px;
    background: url('../img/ico_login_03.svg') no-repeat center/100%;
}
.btn_other_finger:hover {
    border: 1px solid #8597A8;
    box-shadow:0 0px 8px 0px #00000094;
}
.btn_other_finger .txt01 {
    width: 100%;
    display: block;
    position: absolute;
    top : 80px;

    font-size: 17rem;
    font-weight: 500;
    line-height: 1;
    color: #2B3942;
}

.btn_other_pin {
    width: 70px;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    position: relative;
    border: 1px solid transparent;
    background-color: #D9D9D936;
}
.btn_other_pin::before {
    content: '';
    width: 50px;
    height: 50px;
    background: url('../img/ico_login_01.svg') no-repeat center/100%;
}
.btn_other_pin:hover {
    border: 1px solid #8597A8;
    box-shadow:0 0px 8px 0px #00000094;
}
.btn_other_pin .txt01 {
    width: 100%;
    display: block;
    position: absolute;
    top : 80px;

    font-size: 17rem;
    font-weight: 500;
    line-height: 1;
    color: #2B3942;
}

.btn_other_pattern {
    width: 70px;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    position: relative;
    border: 1px solid transparent;
    background-color: #D9D9D936;
}
.btn_other_pattern::before {
    content: '';
    width: 50px;
    height: 50px;
    background: url('../img/ico_login_02.svg') no-repeat center/100%;
}
.btn_other_pattern:hover {
    border: 1px solid #8597A8;
    box-shadow:0 0px 8px 0px #00000094;
}
.btn_other_pattern .txt01 {
    width: 100%;
    display: block;
    position: absolute;
    top : 80px;

    font-size: 17rem;
    font-weight: 500;
    line-height: 1;
    color: #2B3942;
}
/* /다른 간편인증 방법으로 로그인 */


/* 알림함 */
.tab_content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tab_content .left_box {
    width: 100%;
    display: block;
    padding: 10px 20px 0 20px;
}
.tab_content .right_box {
    width: 100%;
    display: flex;
    justify-content: center;
}


.group_msg {
    width: max-content;

    display: none;
    grid-template-columns: repeat(1, 320px);
    gap: 12px 16px;
}
.group_msg.active {
    display: grid;
}
.group_msg  li {
    border-bottom: 1px solid #E6EAED;
    padding-bottom: 16px;
}

.msg_tit01 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.msg_tit01 .txt01 {
    width: 100%;
    display: block;

    font-size: 13rem;
    font-weight: 500;
    line-height: 1;
    color:  #73757E;
}
.message {
    width: 100%;
    height: 90px;
    display: flex;

    border-radius: 8px;
    padding-left: 25px;
    position: relative;
    flex-shrink: 0;
}
.message.type01 {background-color: #7EE3E3;}
.message.type02 {background-color: #BDC6FF;}
.message.type03 {background-color: #9CCFFF;}
.message.type04 {background-color: #F9F3AF;}
.message.type05 {background-color: #9CCFFF ;}
.message.type06 {background-color: #F9F3AF;}
.message.type07 {background-color: #CBF8A9;}
.message.type08 {background-color: #F9F3AF;}
.message.type09 {background-color: #9CCFFF;}
.message.type10 {background-color: #BDC6FF;}
.message.type11 {background-color: #FFD5DE;}
.message.type12 {background-color: #CBF8A9;} 
.message.type13 {background-color: #7EE3E3;}
.message.type14 {background-color: #FFD5DE;}
.message.type15 {background-color: #BDC6FF;}
.message.type16 {background-color: #7EE3E3;}
.message.type17 {background-color: #CBF8A9;}
.message.type18 {background-color: #BDC6FF;}


.message .msg_tit01 {
    width: 100%;
    max-width: 204px;
    display: flex;
    flex-direction: column;
    gap: 8px 0;

    position: absolute;
    top:50%;
    left: 25px;
    transform: translateY(-50%);
}
.message .msg_tit01 .txt01 {
    width: 100%;
    display: block;

    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    color: #191B1D;
}
.message .msg_tit01 .txt02 {
    width: 100%;
    display: block;

    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
    color: #4D4D4D;
}

.message .msg_img {
    display: block;
    margin-left: auto;
    margin-right: 14px;
}

/* //알림함 */


.common_inp21 {
    width: calc(100% - 40px);
    height: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1px solid #8597A880;
    border-radius: 8px;
}
.common_inp21 > .inp_num {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    margin-right: 10px;
    padding: 20px 13px;
}
.common_inp21 > input{border: 1px solid transparent;}
.common_inp21 > input:focus  {border: 1px solid transparent;}


.ico_alert_add {
    width: 72px;
    height: 72px;
    display: block;
    margin: 0 auto;
}
.area_add01 {
    width: 100%;
    display: block;
}
.area_add01 > .box_add01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.area_add01 > .box_add01 > li .txt01 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    text-align: center;
}
.area_add01 > .txt02 {
    width: 100%;
    display: block;

    font-size: 20rem;
    font-weight: 700;
    line-height: 1.4;
    color: #2C333B;
    text-align: center;
}



.area_favorites {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.area_favorites > .left_box {
    width: 100%;
    display: block;
}
.area_favorites > .left_box .area_tit01 {
    width: 100%;
    display: block;
    padding: 0 20px;
}
.area_favorites > .left_box .area_tit01 .txt01 {
    width: 100%;
    display: block;

    font-size: 20rem;
    font-weight: 700;
    line-height: 1.4;
    color: #070F16D1;
}
.area_favorites > .right_box {
    width: 100%;
    display: block;
}
.area_favorites > .right_box .area_contents01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0 20px;
}

.list_fav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 20px;
    border: 1px solid #8295A766;
    border-radius: 8px;
}
.list_fav > .txt01 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1;
    color: #2C333B;
}
.list_fav > .btn_fav {
    width: max-content;
}


.app_store {
    width: 100%;
    min-height: 100%;
    display: flex;
    background-color: #EBF0F5;
    padding: 10px 20px 80px 20px;
}
.app_store > .area_app_store {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.app_store > .area_app_store li {
    width: 100%;
    display: block;
}
.box_app_store {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 12px;

    border-radius: 8px;
    background-color: #fff;
}
.box_app_store > .left_box {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_app_store > .left_box > .btn_secondary {
    max-width: 82px;
    max-height: 40px;
}
.box_app_store > .left_box > .btn_secondary > .txt {
    /* font-size: 15rem; */
    font-size: 15px;
}

.box_app_store > .right_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.box_app_store > .right_box > .area_link {
    width: max-content;
    display: flex;
}
.area_link > .btn_go {
    width: max-content;
    height: 20px;
    display: inline-block;
    padding: 4px;

    font-size: 15rem;
    font-weight: 600;
    line-height: 1.4;
    color: #1F5EFF;
    text-align: center;
    flex-shrink: 0;
}
.area_link > .line {
    width: 1px;
    height: 16px;
    display: inline-block;
    background-color: #B5B7BA;
    margin: 6px 10px;
}
.area_link > .btn_hide {
    width: max-content;
    height: 20px;
    display: inline-block;
    padding: 4px;

    font-size: 15rem;
    font-weight: 600;
    line-height: 1.4;
    color: #4B5058;
    text-align: center;
    flex-shrink: 0;
}
.area_link > .btn_del {
    width: max-content;
    height: 20px;
    display: inline-block;
    padding: 4px;

    font-size: 15rem;
    font-weight: 600;
    line-height: 1.4;
    color: #73757E;
    text-align: center;
    flex-shrink: 0;
}


.box_app_store > .left_box .item01 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item01::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app01.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item02 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item02::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app02.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item03 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item03::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app03.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item04 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item04::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app04.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item05 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item05::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app05.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item06 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item06::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app06.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item07 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item07::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app07.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item08 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item08::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app08.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item09 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item09::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app09.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item10 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item10::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app10.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item11 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item11::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app11.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item12 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item12::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app12.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item13 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item13::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app13.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item14 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item14::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app14.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item15 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item15::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app15.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item16 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item16::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app16.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}
.box_app_store > .left_box .item17 {
    width: 100%;display: block;position: relative;padding-left: 44px;
    font-size: 17rem;font-weight: 500;line-height: 1;color: #2B3942;
}
.box_app_store > .left_box .item17::before {
    content: '';position: absolute;top: 50%;left: 0;transform: translateY(-50%);
    background: url('../img/ico_app17.svg')no-repeat center/100%;
    width: 36px;height: 36px;
}


.btn_update {
    width: 100%;
    max-width: 84px;
    display: flex;
    align-content: center;
    background-color: #fff;
    border: 2px solid #1F5EFF;
    border-radius: 8px;
    padding: 8px 12px;
    flex-shrink: 0;
}
.btn_update > .txt01 {
    width: 100%;
    display: block;

    /* font-size: 15rem; */
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    color: #1F5EFF;
}


.area_event01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 16px;
}
.area_event01 > img {
    width: 82px;
    height: 82px;
    display: block;
}
.area_event01 > .txt01 {
    width: max-content;
    max-width: 320px;
    display: inline-block;

    font-size: 20rem;
    font-weight: 600;
    line-height: 1.5;
    color: #070F16;
    text-align: center;

    word-break: break-all;

}
.area_event01 > .txt01 .txt02 {
    width: max-content;
    display: block;

    font-size: 20rem;
    font-weight: 600;
    line-height: 1.5;
    color: #1F5EFF;
    text-align: center;
}
.area_event01 > .box_event01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 13px 20px;
    border-radius: 8px;
    background-color: #EBF0F5C2;
}
.area_event01 > .box_event01 > li .txt01 {
    width: max-content;
    max-width: 300px;
    display: inline-block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}
.area_event01 > .box_event01 > li .txt02 {
    width: max-content;
    display: inline-block;

    font-size: 13rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
}



.area_history01 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.area_history01 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.area_history01 > .area_tit01 > .rank {
    width: 100%;
    display: flex;
    align-items: center;
}
.area_history01 > .area_tit01 >  .txt01 {
    width: 100%;
    display: block;

    font-size: 25rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
}
.area_history01 > .area_tit01 > .rank .txt02 {
    width: max-content;
    display: inline-block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}
.area_history01 > .area_tit01 > .rank .line {
    width: 1px;
    height: 12px;
    display: block;
    background-color: #2C333B;
    margin: 0 6px;
}
.area_history01 > .history_list {
    width: 100%;
    flex: 1;
    min-height: 0;
    display: block;
    margin-bottom: 100px;
}
.area_history01 > .history_list::after {
    content: '';
    display: block;
    height: 100px;
    background-color: inherit;
}

.box_history {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border-radius: 10px;
    padding: 16px 20px;
    background-color: #F6F6F6;
}
.box_history > li {
    width: 100%;
    display: block;
}

.history_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history_item > .txt01 {
    width: 100%;
    display: block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.2;
    color: #070F16;
}
.history_item > .txt02 {
    width: max-content;
    display: block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.2;
    color: #070F16;
}




.f_group24 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.f_group24 select.btn_year {
    width: 100%;
    display: block;
}
.f_group24 select.btn_month {
    width: 100%;
    display: block;
}


.area_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.area_card > .left_box {
    width: 100%;
    display: block;
}
.area_card > .left_box .btn_rotate {
    justify-self: flex-end;
    margin: 16px 20px 0 0;
}
.area_card > .right_box {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    position: relative;
}

.card {
    width: 100%;
    max-width: 320px;
    height: 189px;
    display: block;

    background-color: #fff;
    box-shadow: 0 0px 10px 0 rgba(25, 54, 126, 0.3);
    border-radius: 30px;

    padding: 24px 24px;
    position: relative;
    transition: transform 0.3s ease;
}

.card > .logo {
    width: 134px;
    height: 32px;
    background: url('../img/ico_logo.svg') no-repeat center/100%;
    display: block;
    margin-left:auto;
}
.card > .user {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 43px;
}
.card > .user > li {
    width: 100%;
    display: block;
}
.card > .user > li .txt01 {
    width: 100%;
    display: block;

    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
}
.card > .user .member01 {
    width: 100%;
    display: flex;
    align-items: center;
}

.card > .user .member01 > .txt02 {
    width: max-content;
    display: inline-block;

    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}
.card > .user > li .txt03 {
    width: 100%;
    display: block;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B
}
.card > .user > li .txt03.m5 {
    margin-top: 5px;
}

.card > .user .member01 > .line {
    width: 1px;
    height: 12px;
    display: inline-block;
    background-color: #2C333B;
    margin: 0 6px;
}
.card > .user .member02 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card > .user .member02 .box_card01 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card > .user .member02 .box_card01 .txt04 {
    width: max-content;
    display: inline-block;

    font-size: 11px;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}
.card > .user .member02 > .txt05 {
    width: 100%;
    display: block;

    font-size: 11px;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}


.card.active {
    transform: rotate(90deg);
    /* max-width: 400px; */
    max-width: 360px;
    height: 230px;
    transition: transform 0.3s ease;
}
.card.active > .user {
    top: 46px;
}
.card.active > .user .member01 > .txt02 {
    font-size: 15px;
}
.card.active > .user > li .txt03 {
    font-size: 14px;
}
.card.active > .user .member02 .box_card01 .txt04 {
    font-size: 14px;
}
.card.active > .user .member02 > .txt05 {
    font-size: 14px;
}
.card.active > .user > li .txt03.m5 {
    margin-top: 15px;
}

.btn_rotate {
    width: 24px;
    height: 24px;
    display: block;
    background: url('../img/ico_rotate.svg') no-repeat center/100%;
   
}
.area_mail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    margin-bottom: 90px;
}
.area_mail > .btn_secondary > .txt{
    font-size: 17px;
}
.area_mail > .txt01 {
    width: 100%;
    display: block;

    text-align: center;
    /* font-size: 15rem; */
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    color: #EE444A;

    margin-top: 14px;
}






.area_main {
    width: calc(100% - 40px);
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}
.area_main > .user {
    width: 100%;
    height: 180px;
    display: block;
    border-radius: 8px;
    background: url('../img/bg_main_01.svg') no-repeat center/100%;
    border-radius: 20px;
    box-shadow:0 4px 10px 0 #3F689D57;

    padding: 12px 16px 20px;
}
.area_main > .user > .area_info {
    width: 100%;
    display: flex;
}
.area_main > .user > .area_info .left_box {
    width: 40%;
    display: block;
}
.area_main > .user > .area_info .left_box .icon {
    width: 67px;
    height: 67px;
    display: block;
    background: url('../img/ico_user_thumb.svg') no-repeat center/100%;
}
.area_main > .user > .area_info .left_box > .box_info {
    width: max-content;
    max-width: 130px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 4px;
}
.area_main > .user > .area_info .left_box > .box_info .txt01 {
    width: max-content;
    display: inline-block;
    max-width: 90px;

    /* font-size: 25rem; */
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
    color: #fff;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis; 
}
.area_main > .user > .area_info .left_box > .box_info .txt02 {
    width: max-content;
    display: inline-block;

    /* font-size: 18rem; */
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #fff;    
}
.area_main > .user > .area_info .left_box > .box_info .txt03 {
    width: max-content;
    display: inline-block;

    /* font-size: 17rem; */
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}

.area_main > .user > .area_info .right_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.area_main > .user > .area_info .right_box > .area_tit01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}
.area_main > .user > .area_info .right_box > .area_content01 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.btn_logout01 {
    width: 24px;
    height: 24px;
    background: url('../img/ico_logout_d.svg') no-repeat center/100%;
}
.btn_noti {
    width: 24px;
    height: 24px;
    background: url('../img/ico_alert_11.svg') no-repeat center/100%;
    position: relative;
}
.btn_noti.active::after {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top:0;
    right: 0;
    border-radius: 50%;
    background-color: #EE444A;
}

.btn_n_card {
    width: 84px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D91A;
    border-radius: 20px;
    position: relative;
}
.btn_n_card::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 18px;
    background: url('../img/ico_n_card.svg') no-repeat center/100%;
}
.btn_n_card > .txt01 {
    width: max-content;
    display: block;
    /* font-size: 16rem; */
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    padding-top: 36px;
}
.btn_history {
    width: 84px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D91A;
    border-radius: 20px;
    position: relative;
}
.btn_history::before {
    content: '';
    position: absolute;
    width: 31px;
    height: 27px;
    top: 18px;
    background: url('../img/ico_history.svg') no-repeat center/100%;
}
.btn_history > .txt01 {
    width: max-content;
    display: block;
    /* font-size: 16rem; */
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    padding-top: 36px;
}




.area_main > .banner {
    width: 100%;
    display: block;
}








/* 베너 */
.message01 {
    width: 100%;
    height: 90px;
    display: flex;

    border-radius: 8px;
    padding-left: 25px;
    position: relative;
    flex-shrink: 0;
}
.message01.type01 {background-color: #7EE3E3;}
.message01.type02 {background-color: #BDC6FF;}
.message01.type03 {background-color: #9CCFFF;}
.message01.type04 {background-color: #F9F3AF;}
.message01.type05 {background-color: #9CCFFF ;}
.message01.type06 {background-color: #F9F3AF;}
.message01.type07 {background-color: #CBF8A9;}
.message01.type08 {background-color: #F9F3AF;}
.message01.type09 {background-color: #9CCFFF;}
.message01.type10 {background-color: #BDC6FF;}
.message01.type11 {background-color: #FFD5DE;}
.message01.type12 {background-color: #CBF8A9;} 
.message01.type13 {background-color: #7EE3E3;}
.message01.type14 {background-color: #FFD5DE;}
.message01.type15 {background-color: #BDC6FF;}
.message01.type16 {background-color: #7EE3E3;}
.message01.type17 {background-color: #CBF8A9;}
.message01.type18 {background-color: #BDC6FF;}

.message01 .msg_tit01 {
    width: 100%;
    max-width: 204px;
    display: flex;
    flex-direction: column;
    gap: 8px 0;

    position: absolute;
    top:50%;
    left: 25px;
    transform: translateY(-50%);
}
.message01 .msg_tit01 .txt01 {
    width: 100%;
    display: block;

    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    color: #191B1D;
}
.message01 .msg_tit01 .txt02 {
    width: 100%;
    display: block;

    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
    color: #4D4D4D;
}

.message01 .msg_img {
    display: block;
    margin-left: auto;
    margin-right: 14px;
}
/* //베너 */

























@media (min-width: 749px) {
    
    .login > .area_content01 { 
        align-items: normal;
        flex-direction: row;
        padding-top: 98px;
    }
    .login > .area_content01 .left_box .area_tit01 {
        margin-top: 0;
    }
    .login > .area_content01 .right_box {
        padding: 0 26px 0 46px;
    }
    .app_menu01 { 
        grid-template-columns: repeat(5, 1fr);
    }

    .group_msg { 
        grid-template-columns: repeat(2, 320px);
    }



    .area_event01 > .box_event01 {
        align-items: normal;
    }
    .area_event01 > .txt01 {
        max-width: 90%;
    }
    .area_event01 > .txt01 .txt02 {
        display: inline-block;
    }
    .area_event01 > .box_event01 > li .txt01 {
        width: 100%;
        max-width: initial;
        text-align: left;
    }

    .area_main {
        flex-direction:row;
    }
    .area_main > .user {
        width: 50%;
        flex-shrink: 0;
    }
    .area_main > .banner {
        width: 50%;
        flex-shrink: 0;
    }

    .message01 {
        height: 180px;
    }

    .message01 .msg_tit01 {
        position: absolute;
        top: 30px;
        left: 25px;
        transform: initial;
    }
    .message01 .msg_img {
        display: block;
        width: 120px;
        height: 120px;
        margin-left: auto;
        margin-right: 14px;
        margin-top: auto;
    }
    

    /* .setting {
        padding-bottom: 100px;
    } */

    .card.mt110 {
        margin-top: 50px;
    }
}
