@charset "UTF-8";

.tab_content01 {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.tab_content01 > .left_box {
    width: 100%;
    display: block;
    padding: 10px 20px 80px 20px;
}


.tab_content02 {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 12px 0;
    padding-bottom: 100px;
}
.tab_content02 > .left_box {
    width: 100%;
    display: block;
    padding: 0 20px;
}

.area_vacation {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 12px 0;
}


.area_summation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
.area_summation li {
    width: 100%;
    display: block;
}
.area_summation li > .area_tit01 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}
.area_summation li > .area_tit01 .txt01 {
    width: max-content;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
    flex-shrink: 0;
}
.area_summation li > .area_tit01 .txt02 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #FF5930;
}
.area_summation li .area_contents01 {
    padding: 16px 20px;
    background-color: #EDF5FF;
    border-radius: 10px;
}

.area_summation li .area_contents02 {
    width: 100%;
    display: block;
}


textarea.txta01 {
    width: 100%;    
    /* max-width: 350px; */
    height: 150px;
    border-radius: 8px;
    padding: 20px;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;

    border: 1px solid #8597A880;
}




.summation {
    width: 100%;
}
.summation tr {
    width: 100%;
}
.summation tr + tr td {
    padding-top: 10px;
}
.summation tr td > .txt01 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
}
.summation tr td > .txt02 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #070F16;
    text-align: right;
}





.f_group04 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group04 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
}
.f_group04 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group04 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group04 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group04 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.2;
    color: #FF5930;
}
.f_group04 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}

.common_inp05 {width: 100%;display: block;position: relative;}
.common_inp05 > .inp_pw {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
}
.common_inp05 .ico_arr {
    width: 24px;
    height: 24px; 
    position: absolute;
    top: 50%;
    right: 0;   
    transform: translateY(-50%);
    background: url('../img/ico_arr_bottom.svg') no-repeat center / 100%;
    cursor: pointer;
}
.common_inp05:has(.inp_pw:focus) .ico_arr {
    background-image: url('../img/ico_arr_bottom.svg');
}
.common_inp05.active .ico_arr {
    background-image: url('../img/ico_arr_bottom.svg');
}
.common_inp05 > input[type='text'],
.common_inp05 > input[type='password'] {
    border: 1px solid transparent;
}
.common_inp05 > input[type='text'],
.common_inp05 > input[type='password']:focus  {
    border: 1px solid transparent;
}




.f_group05 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group05 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    background-color: #E6E6E680;
}
.f_group05 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group05 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group05 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group05 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}

.common_inp06 {width: 100%;display: block;position: relative;}
.common_inp06 > .inp_txt {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
}
.common_inp06 .ico_txt {
    width: 24px;
    height: 24px; 
    position: absolute;
    top: 50%;
    right: 0;   
    transform: translateY(-50%);

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #070F1680;
}
.common_inp06 > input[type='text'] {
    border: 1px solid transparent;
    text-align: right;
    padding-right: 25px;
    background-color: transparent;
}
.common_inp06 > input[type='text']:focus  {
    border: 1px solid transparent;
}



.f_group06 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group06 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    /* background-color: #E6E6E680; */
}
.f_group06 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group06 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group06 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group06 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FF5930;
}
.f_group06 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}


.common_inp07 {
    width: 100%;
    display: flex;
    align-items: center;
}
.common_inp07 .inp_start {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
.common_inp07 .inp_txt01 {
    width: max-content;
    height: 22px;
    display: block;
    font-size: 20rem;
    font-weight: 500;
    line-height: 1.2;
}
.common_inp07 .inp_end {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.common_inp07 > input[type='text'].inp_start {
    border: 1px solid transparent;
    background-color: transparent;
}
.common_inp07 > input[type='text'].inp_end {
    border: 1px solid transparent;
    background-color: transparent;
}
.common_inp07 > input[type='text'].inp_start:focus  {
    border: 1px solid transparent;
}
.common_inp07 > input[type='text'].inp_end:focus  {
    border: 1px solid transparent;
}

.btn_calendar {
    width: 24px;
    height: 24px;
    display: block;
    background: url('../img/ico_calendar_01.svg') no-repeat center/100%;
    flex-shrink: 0;
}



.caution01 {
    width: 100%;
    display: block;
}
.caution01 li {
    width: 100%;
    display: block;
}
.caution01 > li .txt01 {
    width: 100%;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
    padding-left: 21px;
    position: relative;
}
.caution01 > li .txt01::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;

    background: url('../img/ico_alert_07.svg') no-repeat center/100%;
    width: 16px;
    height: 16px;
}

.caution02 {
    width: 100%;
    display: block;
}
.caution02 > h3 .txt01 {
    width: 100%;
    display: inline-block;

    font-size: 14rem;
    font-weight: 700;
    line-height: 1.5;
    color: #73757E;
    padding-left: 21px;
    position: relative;
}
.caution02 > h3 .txt01::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;

    background: url('../img/ico_alert_06.svg') no-repeat center/100%;
    width: 16px;
    height: 16px;
}
.caution02 .area_tit01 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px 0;
    margin-top: 4px;
}
.caution02 .area_tit01 > li {
    width: 100%;
    display: block;
}
.caution02 .area_tit01 > li + li {
    margin-top: 7px;
}
.caution02 .area_tit01 > li .txt02 {
    width: 100%;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;

    padding-left: 35px;
    position: relative;
}

.caution02 .area_tit01 > li .txt02::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 20px;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
}

.caution02 .area_tit01 > li .txt02.n01::before {content: '1.';}
.caution02 .area_tit01 > li .txt02.n02::before {content: '2.';}
.caution02 .area_tit01 > li .txt02.n03::before {content: '3.';}

.caution02 .area_tit01 .depth01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 34px;
}
.caution02 .area_tit01 .depth01 > li {
    width: 100%;
    display: block;
}
.caution02 .area_tit01 .depth01 li > .txt01 {
    width: 100%;
    display: block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
}

















.approver {
    width: 100%;
    display:block;
}
.approver > .left_box01 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.approver > .left_box01 .txt01{
    width: max-content;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
}
.approver > .left_box01 .txt02{
    width: max-content;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #FF5930;
}

.approver .right_box01 {
    width: 100%;
    display: block;
}
.approver .right_box01 .area_approver {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.approver > .right_box01 .area_approver li {
    width: 100%;
    display: block;
}




.approver .right_box01 .area_approver01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.approver .right_box01 .area_approver01 li {
    width: 100%;
    display: block;
}

.apro_line {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap : 8px;
}

.apro_user {
    width: 100%;
    display: block;
    background-color: #E9F0F6;
    border-radius: 8px;
    gap: 6px;
}
.apro_user > .left_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 0 20px;
}
.apro_user > .left_box .txt01 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2C333B;
}
.apro_user .right_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 16px 20px;
    align-items: center;
}
.apro_user .right_box > .area_tit01 {
    width: 100%;
    display: block;
}
.apro_user .right_box > .area_tit01 .box_info01 {
    width: 100%;
    display: flex;
    align-items: center;
}
.apro_user .right_box > .area_tit01 .box_info01 .txt01 {
    width: max-content;
    max-width: 115px;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.apro_user .right_box > .area_tit01 .box_info01 .line {
    width: 1px;
    height: 12px;
    display: inline-block;
    background-color: #8597A880;
    margin: 0 6px;
    flex-shrink: 0;
}
.apro_user .right_box > .area_tit01 .box_info01 .txt02 {
    width: max-content;
    display: block;
    align-items: center;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    flex-shrink: 0;
}
.apro_user .right_box > .area_tit01 .txt03 {
    width: max-content;
    display: block;
    align-items: center;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}
.apro_user .right_box > .area_contents01 {
    width: max-content;
    display: block;
    margin-left: auto;
    flex-shrink: 0;
}
.apro_user .right_box > .area_contents01 select.btn_select{
    width: 90px;
    background-position: right 8px center;
} 



.f_group08 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group08 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    /* background-color: #E6E6E680; */
}
.f_group08 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group08 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group08 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group08 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FF5930;
}
.f_group08 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.common_inp09 {
    width: 100%;
    display: flex;
    align-items: center;
}
.common_inp09 .inp_start {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
}

.common_inp09 > input[type='text'].inp_start {
    border: 1px solid transparent;
    background-color: transparent;
}
.common_inp09 > input[type='text'].inp_start:focus  {
    border: 1px solid transparent;
}

.radio_group01 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 0 16px;
    justify-content: center;
}
.radio_group01 > li {
    width: 50%;
    display: block;
}

.area_line {
    width: 100%;
    height: 429px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 20px;
}
.area_line > .left_box01 {
    width: 100%;
    display: block;
}
.area_line .right_box01 {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: scroll;
}

.area_pick {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.area_pick .left_box01 {
    width: 100%;
    display: block;
    padding: 0 16px;
}
.area_pick .left_box01 .pick_search {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.area_pick .left_box01 .pick_search .pic_tree {
    width: 100%;
    height: 100px;

    border: 1px solid #8597A880;
    border-radius: 8px;
}


.area_pick .left_box01 .pick_search .inp_srch {
    width: 100%;
    height: 48px;
    display: block;

    border: 1px solid #8597A880;
    border-radius: 8px;
    padding: 13px 20px 13px 22px;
}
.area_pick .left_box01 .pick_search input.inp_srch {
    width: 100%;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
}
.area_pick .left_box01 .pick_search .btn_secondary {
    max-width: 90px;
}

.area_pick .right_box01 {
    width: 100%;
    display: block;
    padding: 0 16px;
}
.area_pick .right_box01 .area_tit01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #73757E;
}
.area_pick .right_box01 .area_tit01 .txt01 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
}
.area_pick .right_box01 .area_tit01 .txt02 {
    width: max-content;
    display: inline-block;
    margin-left: auto;

    font-size: 15rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2C333B;

    flex-shrink: 0;
}
.area_pick .right_box01 .area_tit01 .txt03 {
    width: max-content;
    display: inline-block;
    margin-left: auto;

    font-size: 15rem;
    font-weight: 600;
    line-height: 1.2;
    color: #1F5EFF;
    
    flex-shrink: 0;
}
.area_pick .right_box01 .area_contents01 {
    width: 100%;
    height: 100%;
    max-height: 223px;

    overflow-y: scroll;
}


.radio_group02 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    justify-content: center;
}
.radio_group02 > li {
    width: 50%;
    display: block;
}


.f_group09 {
    width: 100%;
    display: block;
}
.f_group09 .item_rdo {
    width: 100%;
}
.f_group09 .item_rdo .rdo_select {
    padding: 16px 20px 16px  8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
}
.f_group09 .item_rdo .rdo_select input {
    position: absolute;
    opacity: 0;
}
.f_group09 .item_rdo .rdo_select .ico_check {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    background-image: url(../img/ico_check_off.svg);
    
}
.f_group09 .item_rdo .rdo_select input:checked + .ico_check {
    background-image: url(../img/ico_check_on.svg);
}
.f_group09 .item_rdo .rdo_select .txt01 {
    color: rgba(2, 12, 21, 0.82);
    font-size: 17rem;
    font-weight: 400;
    margin-left: 12px;
}
.f_group09 .item_rdo .rdo_select:has(input:checked) {
    background-color: #EBF0F5;
}

.f_group09 .item_rdo .rdo_select .box_info02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.f_group09 .item_rdo .rdo_select .box_info02 .area_tit02 {
    width: 100%;
    display: block;
}
.f_group09 .item_rdo .rdo_select .box_info02 .area_tit02 .txt_01{
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2C333B;
}
.f_group09 .item_rdo .rdo_select .box_info02 .area_content02 {
    width: 100%;
    display: flex;
    align-items: center;

}
.f_group09 .item_rdo .rdo_select .box_info02 .area_content02 .txt_02 {
    width: max-content;
    max-width: 115px;

    display: block;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.f_group09 .item_rdo .rdo_select .box_info02 .area_content02 .txt_03 {
    width: max-content;

    display: block;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
}

.f_group09 .item_rdo .rdo_select .box_info02 .area_content02 .line {
    width: 1px;
    height: 12px;
    display: block;
    background-color: #8597A880;
    margin: 0 6px ;

}

.full_end {
    width: 100%;
    display: flex;
    justify-content: center;
}
.area_receipt {
    width: 100%;
    display: block;
}
.area_receipt > li {
    margin-top: 17px;
}
.area_receipt > li + li {
    margin-top: 20px; 
}
.area_receipt .img_logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.area_receipt .txt01 {
    width: 100%;
    display: block;
    text-align: center;

    font-size: 20rem;
    font-weight: 700;
    line-height: 1.4;
    color: #070F16D1;
}

.area_receipt .leave {
    width: 100%;
    max-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    background-color: #EDF5FF;
    padding: 25px 0;
    margin: 0 auto;
}

.area_receipt .leave .txt01 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
}
.area_receipt .leave .txt02 {
    width: 100%;
   
    display: block;

    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    color: #4B5058;
    text-align: center;
    margin-top: 10px;
}






.bt_contents01 {
    width: calc(100% - 20px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.bt_contents01 > .area_bt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.bt_contents01 > .area_bt li {
    width: 100%;
    display: block;
}


.f_group10 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group10 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
}
.f_group10 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group10 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group10 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group10 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FF5930;
}
.f_group10 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}


.common_inp10 {
    width: 100%;
    display: flex;
    align-items: center;
}
.common_inp10 .inp_cal {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
}
.common_inp10 > input[type='text'].inp_cal {
    border: 1px solid transparent;
    background-color: transparent;
}
.common_inp10 > input[type='text'].inp_cal:focus  {
    border: 1px solid transparent;
}






.auto_h {
    width: 100%;
    height: calc(100% - 94px);
}
.board_contain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.board_title {
    width: 100%;
    padding: 0 16px;
}

.board_header {
    width:  calc(100% - 32px);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
    border-bottom: 1px solid #73757E;
}
.board_header .txt01{
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
}
.board_header .txt02{
    width: max-content;
    display: inline-block;
    
    font-size: 15rem;
    font-weight: 600;
    line-height: 1.5;
    color: #2C333B;
    flex-shrink: 0;
}
.board_header .txt03{
    width: max-content;
    display: inline-block;
    
    font-size: 15rem;
    font-weight: 600;
    line-height: 1.5;
    color: #1F5EFF;
    flex-shrink: 0;
    padding-left: 4px;
}

.board_list{
    flex: 1;   
    display: flex;
    flex-direction: column;
    min-height: 0;

    margin-bottom: 10px;
    padding: 0 16px;
}

.list-box{
    flex: 1;
    overflow-y: auto;
    padding-right: 8px;
}

.list-box li {
   border-bottom: 1px solid #8597A880;
}
.list-box li + li {
    margin-top: 12px;
}



.amends {
    width: 100%;
    max-height: 104px;
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.amends > .left_box {
    width: 75%;
    display: inline-block;
}
.amends > .left_box .txt01 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #1F5EFF;
}
.amends > .left_box .txt02 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
    color: #383C4CB2;
}

.amends .right_box {
    width: 25%;
    display: block;
    align-content: flex-end;
    justify-items: flex-end;

} 

.badge01 {
    width: 100%;
    height: 24px;
    max-width: 61px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    background-color: #669FD533;

    font-size: 13rem;
    font-weight: 400;
    line-height: 1.2;
    color: #162C8F;

    padding: 4px 8px;
}




/* 아코디언 */
.accordion {
    width: 100%;
}
.accordion > .acc-item {
    width: 100%;
    display: block;
}
.accordion > .acc-item + .acc-item {
    margin-top: 10px;
}
.acc-header {
    position: relative;
    cursor: pointer;

    padding: 18px 20px;
    border-bottom: 1px solid #8597A880;
}

.acc-header::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;

    width: 24px;
    height: 24px;
    background-color: red;
}
.acc-header::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    transition: transform 0.3s;
    background: url('../img/ico_arr_down.svg') no-repeat center/100%;
    width: 24px;
    height: 24px;
}
.acc-header.active::after {
    content: '';
    background-image: url('../img/ico_arr_up.svg');
}
.acc-header .txt01 {
    width: 100%;
    display: block;
    
    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #070F16;
    padding-left: 34px;
}



.acc-content {
    display: none;
    background: #fff;
    padding: 20px;
}
/* //아코디언 */













/* 진행중 */
.f_group11 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group11 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    /* background-color: #E6E6E680; */
}
.f_group11 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group11 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group11 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group11 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FF5930;
}
.f_group11 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}


.common_inp11 {
    width: 100%;
    display: flex;
    align-items: center;
}
.common_inp11 .inp_start {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
.common_inp11 .inp_txt01 {
    width: max-content;
    height: 22px;
    display: block;
    font-size: 20rem;
    font-weight: 500;
    line-height: 1.2;
}
.common_inp11 .inp_end {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.common_inp11 > input[type='text'].inp_start {
    border: 1px solid transparent;
    background-color: transparent;
}
.common_inp11 > input[type='text'].inp_end {
    border: 1px solid transparent;
    background-color: transparent;
}
.common_inp11 > input[type='text'].inp_start:focus  {
    border: 1px solid transparent;
}
.common_inp11 > input[type='text'].inp_end:focus  {
    border: 1px solid transparent;
}

.btn_arr_down {
    width: 24px;
    height: 24px;
    display: block;
    background: url('../img/ico_arr_bottom.svg') no-repeat center/100%;
    flex-shrink: 0;
}



























@media (min-width: 749px) {
    .approver .right_box01 .area_approver {
        flex-direction: row;
    }

    .radio_group01 {
        flex-wrap: nowrap;
    }
    .radio_group01 > li {
        width: 100%;
    }

    .area_pick > .right_box01 .area_contents01 {
        max-height: 187px;
    }
}

