@charset "UTF-8";

.tab_content01 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tab_content01 .left_box {
    width: 100%;
    display: block;
    padding: 10px 20px 80px 20px;
}

.area_vacation {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 12px 0;
}


.f_group04 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group04 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
}
.f_group04 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group04 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group04 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group04 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.2;
    color: #FF5930;
}
.f_group04 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}

.common_inp05 {width: 100%;display: block;position: relative;}
.common_inp05 > .inp_pw {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
}
.common_inp05 .ico_arr {
    width: 24px;
    height: 24px; 
    position: absolute;
    top: 50%;
    right: 0;   
    transform: translateY(-50%);
    background: url('../img/ico_arr_bottom.svg') no-repeat center / 100%;
    cursor: pointer;
}
.common_inp05:has(.inp_pw:focus) .ico_arr {
    background-image: url('../img/ico_arr_bottom.svg');
}
.common_inp05.active .ico_arr {
    background-image: url('../img/ico_arr_bottom.svg');
}
.common_inp05 > input[type='text'],
.common_inp05 > input[type='password'] {
    border: 1px solid transparent;
}
.common_inp05 > input[type='text'],
.common_inp05 > input[type='password']:focus  {
    border: 1px solid transparent;
}




.f_group05 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group05 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    background-color: #E6E6E680;
}
.f_group05 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group05 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group05 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group05 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}

.common_inp06 {width: 100%;display: block;position: relative;}
.common_inp06 > .inp_txt {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
}
.common_inp06 .ico_txt {
    width: 24px;
    height: 24px; 
    position: absolute;
    top: 50%;
    right: 0;   
    transform: translateY(-50%);

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #070F1680;
}
.common_inp06 > input[type='text'] {
    border: 1px solid transparent;
    text-align: right;
    padding-right: 25px;
    background-color: transparent;
}
.common_inp06 > input[type='text']:focus  {
    border: 1px solid transparent;
}



.f_group06 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group06 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    /* background-color: #E6E6E680; */
}
.f_group06 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group06 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group06 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group06 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FF5930;
}
.f_group06 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}


.common_inp07 {
    width: 100%;
    display: flex;
    align-items: center;
}
.common_inp07 .inp_start {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
.common_inp07 .inp_txt01 {
    width: max-content;
    height: 22px;
    display: block;
    font-size: 20rem;
    font-weight: 500;
    line-height: 1.2;
}
.common_inp07 .inp_end {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.common_inp07 > input[type='text'].inp_start {
    border: 1px solid transparent;
    background-color: transparent;
}
.common_inp07 > input[type='text'].inp_end {
    border: 1px solid transparent;
    background-color: transparent;
}
.common_inp07 > input[type='text'].inp_start:focus  {
    border: 1px solid transparent;
}
.common_inp07 > input[type='text'].inp_end:focus  {
    border: 1px solid transparent;
}

.btn_calendar {
    width: 24px;
    height: 24px;
    display: block;
    background: url('../img/ico_calendar_01.svg') no-repeat center/100%;
    flex-shrink: 0;
}



.caution01 {
    width: 100%;
    display: block;
}
.caution01 li {
    width: 100%;
    display: block;
}
.caution01 > li .txt01 {
    width: 100%;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
    padding-left: 21px;
    position: relative;
}
.caution01 > li .txt01::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;

    background: url('../img/ico_alert_07.svg') no-repeat center/100%;
    width: 16px;
    height: 16px;
}

.caution02 {
    width: 100%;
    display: block;
}
.caution02 > h3 .txt01 {
    width: 100%;
    display: inline-block;

    font-size: 14rem;
    font-weight: 700;
    line-height: 1.5;
    color: #73757E;
    padding-left: 21px;
    position: relative;
}
.caution02 > h3 .txt01::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;

    background: url('../img/ico_alert_06.svg') no-repeat center/100%;
    width: 16px;
    height: 16px;
}
.caution02 .area_tit01 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px 0;
    margin-top: 4px;
}
.caution02 .area_tit01 li {
    width: 100%;
    display: block;
}
.caution02 .area_tit01 li + li {
    margin-top: 7px;
}
.caution02 .area_tit01 li .txt02 {
    width: 100%;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;

    padding-left: 35px;
    position: relative;
}

.caution02 .area_tit01 li .txt02::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 20px;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
}

.caution02 .area_tit01 li .txt02.n01::before {content: '1.';}
.caution02 .area_tit01 li .txt02.n02::before {content: '2.';}
.caution02 .area_tit01 li .txt02.n03::before {content: '3.';}

.approver {
    width: 100%;
    display:block;
}
.approver > .left_box01 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.approver > .left_box01 .txt01{
    width: max-content;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #070F16;
}
.approver > .left_box01 .txt02{
    width: max-content;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
    color: #FF5930;
}

.approver .right_box01 {
    width: 100%;
    display: block;
}
.approver .right_box01 .area_approver {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.approver > .right_box01 .area_approver li {
    width: 100%;
    display: block;
}




.approver .right_box01 .area_approver01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.approver > .right_box01 .area_approver01 li {
    width: 100%;
    display: block;
}

.appr_line01 {
    width: 100%;
    display: block;
    background-color: #E9F0F6;
    border-radius: 8px;
    gap: 6px;
}
.appr_line01 .left_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 0 20px;
}
.appr_line01 .left_box .txt01 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2C333B;
}
.appr_line01 .right_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 16px 20px;
}
.appr_line01 .right_box .area_tit01 {
    width: 100%;
    display: block;
}
.appr_line01 .right_box .area_tit01 .txt01 {
    width: 100%;
    display: flex;
    align-items: center;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    flex-wrap: wrap;
    border: 1px solid red;
}
.appr_line01 .right_box .area_tit01 .txt01 .line {
    width: 2px;
    height: 14px;
    display: inline-block;
    background-color: #8597A880;
    margin: 0 6px;

}
.appr_line01 .right_box .area_contents01 {
    width: max-content;
    display: block;
    margin-left: auto;
    flex-shrink: 0;
}



.f_group08 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group08 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    /* background-color: #E6E6E680; */
}
.f_group08 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group08 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group08 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group08 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FF5930;
}
.f_group08 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.common_inp09 {
    width: 100%;
    display: flex;
    align-items: center;
}
.common_inp09 .inp_start {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
}

.common_inp09 > input[type='text'].inp_start {
    border: 1px solid transparent;
    background-color: transparent;
}
.common_inp09 > input[type='text'].inp_start:focus  {
    border: 1px solid transparent;
}



.radio_group01 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 0 16px;
}
.radio_group01 > li {
    width: 50%;
    display: block;
}








@media (min-width: 749px) {
    .approver .right_box01 .area_approver {
        flex-direction: row;
    }

    .radio_group01 {
        flex-wrap: nowrap;
    }
    .radio_group01 > li {
        width: 100%;
    }
}
