@charset "UTF-8";

.tab_content01 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tab_content01 .left_box {
    width: 100%;
    display: block;
    padding: 10px 20px 0 20px;
}

.area_vacation {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 12px 0;
}


.f_group04 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group04 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
}
.f_group04 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group04 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group04 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group04 > .area_tit01 .left_box02 .txt02 {
    width: 100%;
    display: block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.2;
    color: #FF5930;
}
.f_group04 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}

.common_inp05 {width: 100%;display: block;position: relative;}
.common_inp05 > .inp_pw {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
}
.common_inp05 .ico_arr {
    width: 24px;
    height: 24px; 
    position: absolute;
    top: 50%;
    right: 0;   
    transform: translateY(-50%);
    background: url('../img/ico_arr_bottom.svg') no-repeat center / 100%;
    cursor: pointer;
}
.common_inp05:has(.inp_pw:focus) .ico_arr {
    background-image: url('../img/ico_arr_bottom.svg');
}
.common_inp05.active .ico_arr {
    background-image: url('../img/ico_arr_bottom.svg');
}
.common_inp05 > input[type='text'],
.common_inp05 > input[type='password'] {
    border: 1px solid transparent;
}
.common_inp05 > input[type='text'],
.common_inp05 > input[type='password']:focus  {
    border: 1px solid transparent;
}




.f_group05 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.f_group05 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 20px 14px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    background-color: #E6E6E680;
}
.f_group05 > .area_tit01:has(.inp_pw:focus) {
    border: 1px solid #8597A880;
}
.f_group05 > .area_tit01 .left_box02 {
    width: 100%;
    display: flex;
    gap: 0 4px;
}
.f_group05 > .area_tit01 .left_box02 .txt01 {
    width: max-content;
    display: block;
    flex-shrink: 0;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #020C15B8;
}
.f_group05 > .area_tit01 .right_box02 {
    width: 100%;
    display: flex;
}

.common_inp06 {width: 100%;display: block;position: relative;}
.common_inp06 > .inp_txt {
    width: 100%;
    height: 22px;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
}
.common_inp06 .ico_txt {
    width: 24px;
    height: 24px; 
    position: absolute;
    top: 50%;
    right: 0;   
    transform: translateY(-50%);

    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #070F1680;
}
.common_inp06 > input[type='text'] {
    border: 1px solid transparent;
    text-align: right;
    padding-right: 25px;
    background-color: transparent;
}
.common_inp06 > input[type='text']:focus  {
    border: 1px solid transparent;
}

















/* @media (min-width: 768px) { */
@media (min-width: 750px) {

}
