@charset "UTF-8";


.result_contnet03 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px;
}
.result_contnet03 > .txt01 {
    width: 100%;
    display: block;

    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2C333B;
    word-break: break-all;
}
.result_contnet03 > .info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap
}
.result_contnet03 > .info > li {
    width: max-content;
    display: block;
}
.result_contnet03 > .info .txt02 {
    width: max-content;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    
    word-break: break-all;
}
.result_contnet03 > .info .txt03 {
    width: max-content;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    
    word-break: break-all;
}
.result_contnet03 > .info .txt04 {
    width: max-content;
    display: inline-block;

    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    color: #1F5EFF;
    
    word-break: break-all;
}
.result_contnet03 > .info .line {
    width: 1px;
    height :8px;
    display: block;
    background-color: #8597A880;
}


.board_box03 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.board_box03 > li {
    width: 100%;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #E6EAED;
}

.ico_profile {
    width: 67px;
    height: 67px;
    display: block;
}
.area_profile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}
.area_profile > .left_box {
    width: 100%;
    max-height: 100px;
    display: block;
}
.area_profile > .left_box > .txt01 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
    color: #4B5058;
    word-break: break-all;
}
.area_profile > .left_box > .txt02 {
    width: 100%;
    display: inline-block;

    font-size: 25rem;
    font-weight: 500;
    line-height: 1;
    color: #2C333B;
    margin-top: 6px;

    word-break: break-all;
}
.area_profile > .left_box > .txt02 .txt03  {
    width: max-content;
    display: inline-block;

    font-size: 18rem;
    font-weight: 400;
    line-height: 1;
    color: #2C333B;
    flex-shrink: 0;
    word-break: break-all;
}


.area_profile > .right_box {
    width: 100%;
    display: block;
    margin-top: auto;
}

.btn_attend {
    width: 100%;
    max-width: 110px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #162C8E;
    border-radius: 999px;
    padding: 0 14px;

    margin-left: auto;
}
.btn_attend > .txt01 {
    width: 100%;
    display: block;

    font-size: 15rem;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    padding-left: 26px;
    position: relative;
    word-break: break-all;
}

.btn_attend > .txt01::before {
    content: '';
    display: block;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../img/ico_attend.svg') no-repeat center/100%;
    width: 17px;
    height: 17px;
}


.area_tit03 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area_tit03 > img {
    width: 72px;
    height: 72px;
    display: block;
}
.box_tit04 {
    width: 100%;
    border-radius: 10px;
    background-color: #EDF5FF;
    padding: 20px 4px;
}
.box_tit04 > .box_content04 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_tit04 > .box_content04 > li {
    width: 100%;
    display: block;
}
.box_tit04 > .box_content04 > li .txt01 {
    width: 100%;
    display: inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    text-align: center;
    word-break: break-all;
}
.box_tit04 > .box_content04 > li .txt02 {
    width: 100%;
    display: inline-block;

    font-size: 18rem;
    font-weight: 700;
    line-height: 1.4;
    color: #2C333B;
    text-align: center;
    word-break: break-all;
}
.box_tit04 > .txt03 {
    width: 100%;
    display: inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #73757E;
    text-align: center;
    margin-top: 6px;
    word-break: break-all;
}
.area_tit03 > .txt04 {
    width: 100%;
    display: inline-block;

    font-size: 16rem;
    font-weight: 400;
    line-height: 1.4;
    color: #2C333B;
    text-align: center;
    word-break: break-all;
}



.a_group03 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.a_group03 > .area_tit01 {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 12px 12px 12px 20px;
    border: 1px solid #8597A880;
    border-radius: 8px;
    background-color: #fff;
}
.a_group03 > .area_tit01 > .left_box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 4px;
}
.a_group03 > .area_tit01 > .left_box .txt01 {
    width: max-content;
    display: block;

    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
    color: #4B5058;
    flex-shrink: 0;
    word-break: break-all;
}
.a_group03 > .area_tit01 > .left_box .txt02 {
    width: 100%;
    display: block;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    color: #FF5930;
    word-break: break-all;
}
.a_group03 > .area_tit01 > .right_box {
    width: 100%;
    display: flex;
}
.a_group03 > .area_tit01:has(.inp_comm:focus) {
    border: 1px solid #8597A880;
}

.a_group03.disabled > .area_tit01 {
    background-color: #E6E6E680;
}
.a_group03.disabled .right_box02 .com_inp01 > .inp_comm {
    width: 100%;
    color: #070F1680;
}
.a_group03.disabled .com_inp01 .ico_arr {
    background-image: url('../img/ico_arr_d_bottom.svg');
}

.a_group03.error > .reply {display: flex;}
.a_group03.error > .area_tit01 {border: 1px solid #EE444A;}
.a_group03.sucess > .reply {
    display: flex;
    padding: 0 20px;
    color: #2C333B;
}
.a_group03.sucess > .reply::before {
    content: none;
}


.com_inp05 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}
.com_inp05 > .box_left {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    
}
.com_inp05 > .box_left > .inp_comm {
    width: 100%;
    height: 22px;
    display: block;

    font-size: 17rem;
    font-weight: 500;
    line-height: 1.2;
    color: #2C333B;
    margin-left: 22px;
}
.com_inp05 > .box_left::before {
    content: '';
    width: 22px;
    height: 22px;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../img/ico_time.svg') no-repeat center / 100%;
    cursor: pointer;
}
.com_inp05 > .line {
    width: max-content;
    height: 22px;
    display: block;

    font-size: 17rem;
    font-weight: 500;
    line-height: 1.2;
    color: #2C333B;
    text-align: center;
}
.com_inp05 > input::placeholder {
    width: max-content;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #B5B7BA;
    flex-shrink: 0;
}
.com_inp05 > .box_left > input,
.com_inp05 > .box_left > input:focus {
    border: 1px solid transparent;
}



.com_inp06 > .box_left {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.com_inp06 > .box_left > .inp_comm {
    width: 100%;
    height: 22px;
    display: block;

    font-size: 17rem;
    font-weight: 500;
    line-height: 1.2;
    color: #2C333B;
    margin-left: 22px;
}
.com_inp06 .ico_time {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../img/ico_time.svg') no-repeat center / 100%;
    cursor: pointer;
}
.com_inp06 > input::placeholder {
    width: max-content;
    display: block;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.2;
    color: #B5B7BA;
    flex-shrink: 0;
}
.com_inp06 > .box_left > input,
.com_inp06 > .box_left > input:focus {
    border: 1px solid transparent;
}



@media (min-width: 749px) {

}