/* 메인 */
.member_card_box {
    width: calc(100% - 40px);
    margin: 0 auto;
    background-color: #162C8F;
    background-image: url(../img/bg_idcard.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 11px 15px 23px;
    display: flex;
    align-items: flex-start;
    gap: 0 10px;
    border-radius: 20px;
    box-shadow: 0 2px 10px 0 rgba(63, 104, 157, 0.34), 0 0 14px 0 #737EAF;
}
.member_card_box .left_box img {
    width: 67px;
    height: 67px;
}
.member_card_box .member_txt_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 13px;
}
.member_card_box .member_txt_box .member_name {
    color: #FFF;
    font-size: 25rem;
    font-weight: 500;
    line-height: normal;
}
.member_card_box .member_txt_box .member_name span {
    font-size: 18rem;
    font-weight: 400;
    line-height: normal;
}
.member_card_box .member_txt_box .txt01 {
    color: #FFF;
    font-size: 17rem;
    font-weight: 400;
    margin-top: 1px;
    line-height: normal;
}
.member_card_box .member_txt_box .date01 {
    color: #FFF;
    font-size: 13rem;
    font-weight: 400;
    margin-top: 16px;
    line-height: normal;
}

.schedule_list_box {
    width: calc(100% - 40px);
    margin: 30px auto 0;
}
.schedule_list_box .tit01 {
    color: #070F16;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}
.schedule_list_box .schedule_list {
    margin-top: 6px;
}
.schedule_list_box .schedule_list li ~ li {
    border-top: 1px solid rgba(133, 151, 168, 0.50);
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
}
.schedule_list_box .schedule_list li .schedule_box {
    display: flex;
    justify-content: space-between;
    gap: 0 8px;
    padding: 12px 0;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_txt {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_txt > .tit01 {
    color: #070F16;
    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_txt > .time01 {
    color: #2C333B;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_tag {
    display: flex;
    width: 84px;
    height: 32px;
    padding: 6px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid rgba(130, 149, 167, 0.20);
    background: rgba(255, 255, 255, 0.20);
}
.schedule_list_box .schedule_list li .schedule_box .schedule_tag .tag_icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 999px;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_tag .tag_txt {
    text-align: center;
    font-size: 13rem;
    font-weight: 600;
    width: 46px;
}
.schedule_tag.success .tag_icon {
    background: linear-gradient(155deg, #3F8CFF 7.93%, #0D5ED8 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.success .tag_txt {
    color: #1470F9;
}
.schedule_tag.connect .tag_icon {
    background: linear-gradient(155deg, #0EBF49 7.93%, #099458 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.connect .tag_txt {
    color: #159E63;
}
.schedule_tag.wait .tag_icon {
    background: linear-gradient(155deg, #FF8C1A 7.93%, #ED522B 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.wait .tag_txt {
    color: #FF8001;
}
.schedule_tag.unconnect .tag_icon {
    background: linear-gradient(155deg, #F85D5D 7.93%, #F02727 48.24%, #C41F1F 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.unconnect .tag_txt {
    color: #E90404;
}
.schedule_closed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 64px;
}
.schedule_closed .txt01 {
    color: #73757E;
    text-align: center;
    font-size: 20rem;
    font-weight: 600;
    line-height: 1.4;
}

.app_block_box {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.app_block_box .text_box {
    width: 100%;
    display: inline-flex;
    padding: 23px 29px 28px 30px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    background: #EDF5FF;
}
.app_block_box .text_box .tit01 {
    color: #070F16;
    text-align: center;
    font-size: 22rem;
    font-weight: 600;
    line-height: 1.4;
}
.app_block_box .text_box .txt01 {
    color: #4B5058;
    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    word-break: keep-all;
}

/* 월 스케줄 확인 */
.cont_wrap:has(.monthly_tbl_box) {
    padding-bottom: 0;
}
.monthly_tit {
    color: #070F16;
    font-size: 25rem;
    font-weight: 500;
    line-height: normal;
}
.monthly_tit span {
    font-size: 18rem;
    font-weight: 400;
}
.monthly_tbl_box .monthlye_select {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px;
}
.btn_prev {
    display: block;
    background-image: url(../img/btn_calendar_arr.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.btn_next {
    display: block;
    background-image: url(../img/btn_calendar_arr.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.calendar_tit {
    color: #2C333B;
    text-align: center;
    font-size: 17rem;
    font-weight: 700;
    line-height: 1.4;
}
.monthly_tbl_box .calendar_table {
    width: 100%;
}
.monthly_tbl_box .calendar_table caption {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.monthly_tbl_box .calendar_table thead th {
    color: rgba(50, 63, 79, 0.54);
    text-align: center;
    font-size: 14rem;
    font-weight: 500;
    line-height: 1.4;
    border-bottom: 1px solid rgba(115, 132, 149, 0.05);
    padding: 8px 0;
}
.monthly_tbl_box .calendar_table thead th.th_weekend {
    color: #EE444A;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date01 {
    height: 42px;
    padding: 5px 6.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date01 .txt01 {
    text-align: center;
    font-size: 14rem;
    font-weight: 500;
    line-height: 1.4;
    width: 32px;
    height: 32px;
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.monthly_tbl_box .calendar_table tbody td.date_default .calendar_date .date01 .txt01 {
    color: rgba(11, 15, 19, 0.91);
}
.monthly_tbl_box .calendar_table tbody td.date_weekend .calendar_date .date01 .txt01 {
    color: #EE444A;
}
.monthly_tbl_box .calendar_table tbody td.date_disabled .calendar_date .date01 .txt01 {
    color: rgba(111, 125, 140, 0.40);
}
.monthly_tbl_box .calendar_table tbody td.date_highlight .calendar_date .date01 .txt01 {
    border-radius: 12px;
    background: var(--Color-blue, #1F5EFF);
    color: #fff;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date:hover .date01 .txt01 {
    border-radius: 12px;
    font-weight: 700;
    background: rgba(130, 149, 167, 0.11);
    color: rgba(11, 15, 19, 0.91);
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule .dia_num {
    display: flex;
    min-width: 45px;
    width: 100%;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background: #C9D8FE;
    color: #1F5EFF;
    text-align: center;
    font-size: 12rem;
    font-weight: 700;
    line-height: 1.4;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule .start_time {
    color: #73757E;
    font-size: 12rem;
    font-weight: 500;
    line-height: 1.4;
}


@media (min-width: 749px) {
    .monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule .start_time ~ .start_time {
        margin-left: 14px;
    }
}