/* 메인 */
.member_card_box {
    width: calc(100% - 40px);
    margin: 0 auto;
    background-color: #162C8F;
    background-image: url(../img/bg_idcard.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 11px 15px 23px;
    display: flex;
    align-items: flex-start;
    gap: 0 10px;
    border-radius: 20px;
    box-shadow: 0 2px 10px 0 rgba(63, 104, 157, 0.34), 0 0 14px 0 #737EAF;
}
.member_card_box .left_box img {
    width: 67px;
    height: 67px;
}
.member_card_box .member_txt_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 13px;
}
.member_card_box .member_txt_box .member_name {
    color: #FFF;
    font-size: 25rem;
    font-weight: 500;
    line-height: normal;
}
.member_card_box .member_txt_box .member_name span {
    font-size: 18rem;
    font-weight: 400;
    line-height: normal;
}
.member_card_box .member_txt_box .txt01 {
    color: #FFF;
    font-size: 17rem;
    font-weight: 400;
    margin-top: 1px;
    line-height: normal;
}
.member_card_box .member_txt_box .date01 {
    color: #FFF;
    font-size: 13rem;
    font-weight: 400;
    margin-top: 16px;
    line-height: normal;
}

.schedule_list_box {
    width: calc(100% - 40px);
    margin: 30px auto 0;
}
.schedule_list_box .tit01 {
    color: #070F16;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}
.schedule_list_box .schedule_list {
    margin-top: 6px;
}
.schedule_list_box .schedule_list li ~ li {
    border-top: 1px solid rgba(133, 151, 168, 0.50);
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
}
.schedule_list_box .schedule_list li .schedule_box {
    display: flex;
    justify-content: space-between;
    gap: 0 8px;
    padding: 12px 0;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_txt {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_txt > .tit01 {
    color: #070F16;
    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_txt > .time01 {
    color: #2C333B;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_tag {
    display: flex;
    width: 84px;
    height: 32px;
    padding: 6px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid rgba(130, 149, 167, 0.20);
    background: rgba(255, 255, 255, 0.20);
}
.schedule_list_box .schedule_list li .schedule_box .schedule_tag .tag_icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 999px;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_tag .tag_txt {
    text-align: center;
    font-size: 13rem;
    font-weight: 600;
    width: 46px;
}
.schedule_tag.success .tag_icon {
    background: linear-gradient(155deg, #3F8CFF 7.93%, #0D5ED8 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.success .tag_txt {
    color: #1470F9;
}
.schedule_tag.connect .tag_icon {
    background: linear-gradient(155deg, #0EBF49 7.93%, #099458 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.connect .tag_txt {
    color: #159E63;
}
.schedule_tag.wait .tag_icon {
    background: linear-gradient(155deg, #FF8C1A 7.93%, #ED522B 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.wait .tag_txt {
    color: #FF8001;
}
.schedule_tag.unconnect .tag_icon {
    background: linear-gradient(155deg, #F85D5D 7.93%, #F02727 48.24%, #C41F1F 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.unconnect .tag_txt {
    color: #E90404;
}
.schedule_closed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 64px;
}
.schedule_closed .txt01 {
    color: #73757E;
    text-align: center;
    font-size: 20rem;
    font-weight: 600;
    line-height: 1.4;
}

.app_block_box {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.app_block_box .text_box {
    width: 100%;
    display: inline-flex;
    padding: 23px 29px 28px 30px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    background: #EDF5FF;
}
.app_block_box .text_box .tit01 {
    color: #070F16;
    text-align: center;
    font-size: 22rem;
    font-weight: 600;
    line-height: 1.4;
}
.app_block_box .text_box .txt01 {
    color: #4B5058;
    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    word-break: keep-all;
}

/* 월 스케줄 확인 */
.cont_wrap:has(.monthly_tbl_box) {
    padding-bottom: 0;
}
.monthly_tit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 14px;
}
.monthly_tit .left_box .tit01 {
    color: #070F16;
    font-size: 25rem;
    font-weight: 500;
    line-height: normal;
}
.monthly_tit .left_box .tit01 span{
    font-size: 18rem;
    font-weight: 400;
}
.monthly_tit .right_box .calendar_legend {
    display: flex;
    align-items: center;
    gap: 0 12px;
}
.monthly_tit .right_box .calendar_legend li {
    display: flex;
    align-items: center;
    gap: 0 6px;
}
.monthly_tit .right_box .calendar_legend li .legend_ico01 {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: #1F5EFF;
}
.monthly_tit .right_box .calendar_legend li .legend_ico02 {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: #0A874D;
}
.monthly_tit .right_box .calendar_legend li .txt01 {
    display: block;
    color: #2C333B;
    font-size: 14rem;
    font-weight: 500;
    line-height: normal;
}
.monthly_tbl_box .monthlye_select {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}
.btn_prev {
    display: block;
    background-image: url(../img/btn_calendar_arr.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.btn_next {
    display: block;
    background-image: url(../img/btn_calendar_arr.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.calendar_tit {
    color: #2C333B;
    text-align: center;
    font-size: 17rem;
    font-weight: 700;
    line-height: 1.4;
}
.monthly_tbl_box .calendar_table {
    width: 100%;
}
.monthly_tbl_box .calendar_table caption {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.monthly_tbl_box .calendar_table thead th {
    color: rgba(50, 63, 79, 0.54);
    text-align: center;
    font-size: 14rem;
    font-weight: 500;
    line-height: 1.4;
    border-bottom: 1px solid rgba(115, 132, 149, 0.05);
    padding: 8px 0;
}
.monthly_tbl_box .calendar_table thead th.th_weekend {
    color: #EE444A;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 92px;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date01 {
    height: 42px;
    padding: 5px 6.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 1 0 0; */
    align-self: stretch;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date01 .txt01 {
    text-align: center;
    font-size: 14rem;
    font-weight: 500;
    line-height: 1.4;
    width: 32px;
    height: 32px;
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.monthly_tbl_box .calendar_table tbody td.date_default .calendar_date .date01 .txt01 {
    color: rgba(11, 15, 19, 0.91);
}
.monthly_tbl_box .calendar_table tbody td.date_weekend .calendar_date .date01 .txt01 {
    color: #EE444A;
}
.monthly_tbl_box .calendar_table tbody td.date_disabled .calendar_date .date01 .txt01 {
    color: rgba(111, 125, 140, 0.40);
}
.monthly_tbl_box .calendar_table tbody td.date_highlight .calendar_date .date01 .txt01 {
    border-radius: 12px;
    background: var(--Color-blue, #1F5EFF);
    color: #fff;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date:hover .date01 .txt01 {
    border-radius: 12px;
    font-weight: 700;
    background: rgba(130, 149, 167, 0.11);
    color: rgba(11, 15, 19, 0.91);
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule .dia_num {
    display: flex;
    min-width: 45px;
    width: 100%;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background: #C9D8FE;
    color: #1F5EFF;
    text-align: center;
    font-size: 12rem;
    font-weight: 700;
    line-height: 1.4;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule .start_time {
    color: #73757E;
    font-size: 12rem;
    font-weight: 500;
    line-height: 1.4;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 100%;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule02 .dia_num01 {
    display: flex;
    min-width: 45px;
    width: 100%;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background: #C9D8FE;
    color: #1F5EFF;
    text-align: center;
    font-size: 12rem;
    font-weight: 700;
    line-height: 1.4;
}
.monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule02 .dia_num02 {
    display: flex;
    min-width: 45px;
    width: 100%;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background: #CCFBD9;
    color: #0A874D;
    text-align: center;
    font-size: 12rem;
    font-weight: 700;
    line-height: 1.4;
}

/* 월 스케줄 상세 */
.bs_tbl_box01 {
    width: calc(100% - 40px);
    margin: 0 auto;
}
.bs_tbl_box01 .tbl_list li {
    border-bottom: 1px solid rgba(230, 230, 230, 0.50);
    padding-bottom: 8px;
    margin-bottom: 12px;
}
.bs_tbl_box01 .tbl_list li:last-child {
    margin-bottom: 0;
}

/* 직원 스케줄 확인 */
.area_pick .left_box01 .tit01 {
    color: #070F16;
    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
}
.result_list02 {
    border-top: 1px solid #73757E;
    margin-top: 12px;
}
.result_list02 > li {
    border-bottom: 1px solid rgba(133, 151, 168, 0.50);
}
.result_cont_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.result_cont_box .left_box {
    display: flex;
    flex: 1 0 0;
}
.result_cont_box .left_box .result_cont {
    display: flex;
    padding: 14px 8px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}
.result_cont .tit01 {
    color: #2C333B;
    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
}
.result_cont .info_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.result_cont .info_box .txt01 {
    color: #2C333B;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.4;
    position: relative;
}
.result_cont .info_box .txt01 ~ .txt01 {
    margin-left: 10px;
}
.result_cont .info_box .txt01 ~ .txt01:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background-color: rgba(133, 151, 168, 0.50);
    top: 3px;
    left: -6px;
}

.no_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 64px 0;
}
.no_data .txt01 {
    color: #73757E;
    text-align: center;
    font-size: 20rem;
    font-weight: 600;
    line-height: 1.4;
}

/* 스케줄 비교 */
.schedule_compare {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.compare_box .tit_box01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}
.compare_box .tit_box01 .left_box .tit01 {
    color: #070F16;
    font-size: 18rem;
    font-weight: 600;
    line-height: 1.4;
}
.compare_box .tit_box01 .right_box {
    margin-top: 0;
}
.compare_box .tit_box01 .right_box .txt01 {
    color: #2C333B;
    font-size: 15rem;
    font-weight: 600;
    line-height: 1.2;
}
.compare_cont_box01 {
    padding: 16px 20px;
    border-radius: 10px;
    background: #EDF5FF;
}
.compare_cont_box02 {
    padding: 16px 20px;
    border-radius: 10px;
    background: #EDFBF1;
}

/* 교대근무자현황 */
.sel_office {
    width: 100%;
    margin-top: 6px;
}

/* 비상 전화번호 */
.img_info_box {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    padding: 20px 30px 20px 25px;
    align-items: center;
    gap: 22px;
    border-radius: 8px;
    border: 1px solid rgba(133, 151, 168, 0.50);
    background: #FFF;
}
.img_info_box img {
    width: 80px;
    height: 80px;
}
.img_info_box .txt01 {
    color: #2C333B;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.4;
    word-break: break-all;
}
.line_select_list {
    width: calc(100% - 40px);
    margin: 28px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.line_select_list li {
    width: calc(50% - 5px);
}
.line_select_list li .line_select_btn {
    width: 100%;
    height: 48px;
    padding: 9.5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid #73757E;
    border-radius: 8px;
    background: #FFF;
}
.line_select_list li .line_select_btn .txt01 {
    text-align: center;
    font-size: 15rem;
    font-weight: 600;
    line-height: 1.2;
}
.line_select_list li .line_select_btn.line1 {
    border-color: #253B95;
}
.line_select_list li .line_select_btn.line1 .txt01 {
    color: #253B95;
}
.line_select_list li .line_select_btn.line1:hover {
    border-color: #253B95;
    background-color: #253B95;
}
.line_select_list li .line_select_btn.line1:hover .txt01 {
    color: #fff;
}
.line_select_list li .line_select_btn.line2 {
    border-color: #00A23F;
}
.line_select_list li .line_select_btn.line2 .txt01 {
    color: #00A23F;
}
.line_select_list li .line_select_btn.line2:hover {
    border-color: #00A23F;
    background-color: #00A23F;
}
.line_select_list li .line_select_btn.line2:hover .txt01 {
    color: #fff;
}
.line_select_list li .line_select_btn.line3 {
    border-color: #ED6C00;
}
.line_select_list li .line_select_btn.line3 .txt01 {
    color: #ED6C00;
}
.line_select_list li .line_select_btn.line3:hover {
    border-color: #ED6C00;
    background-color: #ED6C00;
}
.line_select_list li .line_select_btn.line3:hover .txt01 {
    color: #fff;
}
.line_select_list li .line_select_btn.line4 {
    border-color: #009BCE;
}
.line_select_list li .line_select_btn.line4 .txt01 {
    color: #009BCE;
}
.line_select_list li .line_select_btn.line4:hover {
    border-color: #009BCE;
    background-color: #009BCE;
}
.line_select_list li .line_select_btn.line4:hover .txt01 {
    color: #fff;
}
.line_select_list li .line_select_btn.line5 {
    border-color: #794998;
}
.line_select_list li .line_select_btn.line5 .txt01 {
    color: #794998;
}
.line_select_list li .line_select_btn.line5:hover {
    border-color: #794998;
    background-color: #794998;
}
.line_select_list li .line_select_btn.line5:hover .txt01 {
    color: #fff;
}
.line_select_list li .line_select_btn.line6 {
    border-color: #7C4932;
}
.line_select_list li .line_select_btn.line6 .txt01 {
    color: #7C4932;
}
.line_select_list li .line_select_btn.line6:hover {
    border-color: #7C4932;
    background-color: #7C4932;
}
.line_select_list li .line_select_btn.line6:hover .txt01 {
    color: #fff;
}
.line_select_list li .line_select_btn.line7 {
    border-color: #6C6F36;
}
.line_select_list li .line_select_btn.line7 .txt01 {
    color: #6C6F36;
}
.line_select_list li .line_select_btn.line7:hover {
    border-color: #6C6F36;
    background-color: #6C6F36;
}
.line_select_list li .line_select_btn.line7:hover .txt01 {
    color: #fff;
}
.line_select_list li .line_select_btn.line8 {
    border-color: #C30067;
}
.line_select_list li .line_select_btn.line8 .txt01 {
    color: #C30067;
}
.line_select_list li .line_select_btn.line8:hover {
    border-color: #C30067;
    background-color: #C30067;
}
.line_select_list li .line_select_btn.line8:hover .txt01 {
    color: #fff;
}

/* 호선 연락처 상세 */
.line_tit01 {
    display: flex;
    align-items: center;
    gap: 0 4px;
}
.line_tit01 .line_ball {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}
.line_tit01 .line_ball.line1 {
    background-color: #253B95;
}
.line_tit01 .line_ball.line2 {
    background-color: #00A23F;
}
.line_tit01 .line_ball.line3 {
    background-color: #ED6C00;
}
.line_tit01 .line_ball.line4 {
    background-color: #009BCE;
}
.line_tit01 .line_ball.line5 {
    background-color: #794998;
}
.line_tit01 .line_ball.line6 {
    background-color: #7C4932;
}
.line_tit01 .line_ball.line7 {
    background-color: #6C6F36;
}
.line_tit01 .line_ball.line8 {
    background-color: #C30067;
}
.line_tit01 .line_ball > .txt01 {
    color: #FFF;
    font-size: 20rem;
    font-weight: 800;
    line-height: 1.4;
}
.line_tit01 .txt01 {
    color: #070F16;
    font-size: 22rem;
    font-weight: 600;
    line-height: 1.4;
}
.line_contact_box {
    width: 100%;
    padding: 20px 24px;
    border-radius: 8px;
    background: rgba(245, 248, 250, 0.50);
}
.line_contact_box .tbl_list > li ~ li {
    margin-top: 19px;
}
.line_contact_box .tbl_list > li .tit01 {
    font-weight: 600;
}
.line_contact_box .tbl_list > li .txt01 {
    color: #2C333B;
}
.tab_cont_wrap > .line_contact_box {
    width: calc(100% - 40px);
    margin: 10px auto 0;
}

@media (min-width: 749px) {
    .monthly_tbl_box .calendar_table tbody td .calendar_date {
        height: 76px;
    }
    .monthly_tbl_box .calendar_table tbody td .calendar_date .date_schedule {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1px 14px;
    }
    .monthly_tbl_box .calendar_table tbody td .calendar_date .date01 {
        padding: 3px 6.8px;
    }

    .compare_cont_box02 {
        margin-bottom: 20px;
    }
    
    .line_select_list {
        row-gap: 20px;
        column-gap: 0;
        justify-content: space-between;
    }
    .line_select_list li {
        width: calc(25% - 22.5px);
    }
}