.member_card_box {
    width: calc(100% - 40px);
    margin: 0 auto;
    background-color: #162C8F;
    background-image: url(../img/bg_idcard.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 11px 15px 23px;
    display: flex;
    align-items: flex-start;
    gap: 0 10px;
    border-radius: 20px;
    box-shadow: 0 2px 10px 0 rgba(63, 104, 157, 0.34), 0 0 14px 0 #737EAF;
}
.member_card_box .left_box img {
    width: 67px;
    height: 67px;
}
.member_card_box .member_txt_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 13px;
}
.member_card_box .member_txt_box .member_name {
    color: #FFF;
    font-size: 25rem;
    font-weight: 500;
    line-height: normal;
}
.member_card_box .member_txt_box .member_name span {
    font-size: 18rem;
    font-weight: 400;
    line-height: normal;
}
.member_card_box .member_txt_box .txt01 {
    color: #FFF;
    font-size: 17rem;
    font-weight: 400;
    margin-top: 1px;
    line-height: normal;
}
.member_card_box .member_txt_box .date01 {
    color: #FFF;
    font-size: 13rem;
    font-weight: 400;
    margin-top: 16px;
    line-height: normal;
}

.schedule_list_box {
    width: calc(100% - 40px);
    margin: 30px auto 0;
}
.schedule_list_box .tit01 {
    color: #070F16;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}
.schedule_list_box .schedule_list {
    margin-top: 6px;
}
.schedule_list_box .schedule_list li ~ li {
    border-top: 1px solid rgba(133, 151, 168, 0.50);
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
}
.schedule_list_box .schedule_list li .schedule_box {
    display: flex;
    justify-content: space-between;
    gap: 0 8px;
    padding: 12px 0;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_txt {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_txt > .tit01 {
    color: #070F16;
    font-size: 18rem;
    font-weight: 600;
    line-height: 1.2;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_txt > .time01 {
    color: #2C333B;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_tag {
    display: flex;
    width: 84px;
    height: 32px;
    padding: 6px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid rgba(130, 149, 167, 0.20);
    background: rgba(255, 255, 255, 0.20);
}
.schedule_list_box .schedule_list li .schedule_box .schedule_tag .tag_icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 999px;
}
.schedule_list_box .schedule_list li .schedule_box .schedule_tag .tag_txt {
    text-align: center;
    font-size: 13rem;
    font-weight: 600;
    width: 46px;
}
.schedule_tag.success .tag_icon {
    background: linear-gradient(155deg, #3F8CFF 7.93%, #0D5ED8 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.success .tag_txt {
    color: #1470F9;
}
.schedule_tag.connect .tag_icon {
    background: linear-gradient(155deg, #0EBF49 7.93%, #099458 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.connect .tag_txt {
    color: #159E63;
}
.schedule_tag.wait .tag_icon {
    background: linear-gradient(155deg, #FF8C1A 7.93%, #ED522B 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.wait .tag_txt {
    color: #FF8001;
}
.schedule_tag.unconnect .tag_icon {
    background: linear-gradient(155deg, #F85D5D 7.93%, #F02727 48.24%, #C41F1F 90.94%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}
.schedule_tag.unconnect .tag_txt {
    color: #E90404;
}
.schedule_closed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 64px;
}
.schedule_closed .txt01 {
    color: #73757E;
    text-align: center;
    font-size: 20rem;
    font-weight: 600;
    line-height: 1.4;
}

.app_block_box {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.app_block_box .text_box {
    display: inline-flex;
    padding: 23px 29px 28px 30px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    background: #EDF5FF;
}
.app_block_box .text_box .tit01 {
    color: #070F16;
    text-align: center;
    font-size: 22rem;
    font-weight: 600;
    line-height: 1.4;
}
.app_block_box .text_box .txt01 {
    color: #4B5058;
    font-size: 17rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    word-break: keep-all;
}