.member_card_box {
    width: calc(100% - 40px);
    height: 130px;
    margin: 0 auto;
    border-radius: 20px;
    background-image: url(../img/bg_idcard.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 11px 15px 23px;
    display: flex;
    align-items: flex-start;
    gap: 0 10px;
}
.member_card_box .left_box img {
    width: 67px;
    height: 67px;
}